Repository microsoft/kiota: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Path conditions:
  .azure-pipelines/ci-build.yml: any of: src, .azure-pipelines
  .azure-pipelines/docker.yml: any file but: abstractions, authentication, serialization, http, **.md, .vscode, **.svg

fix: enhance response semantics to support an adaptive card template
  src/Kiota.Builder/Plugins/PluginsGenerationService.cs
  tests/Kiota.Builder.Tests/Plugins/PluginsGenerationServiceTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

add adaptive card template generation for API plugins
  src/Kiota.Builder/Plugins/AdaptiveCardTemplate.cs
  src/Kiota.Builder/Plugins/PluginsGenerationService.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

add logger to adaptive card template
  src/Kiota.Builder/Plugins/AdaptiveCardTemplate.cs
  src/Kiota.Builder/Plugins/PluginsGenerationService.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

test: add unit test for generating manifest with adaptive card without extension
  tests/Kiota.Builder.Tests/Plugins/PluginsGenerationServiceTests.cs
Due: .azure-pipelines/docker.yml

fix: escape double quotes and line breaks on CSharp generation of default values properties
  src/Kiota.Builder/Writers/CSharp/CodeMethodWriter.cs
  tests/Kiota.Builder.Tests/Writers/CSharp/CodeMethodWriterTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

consolidate null checks to single block
  src/Kiota.Builder/Plugins/AdaptiveCardTemplate.cs
  src/Kiota.Builder/Plugins/PluginsGenerationService.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

fix formatting
  src/Kiota.Builder/Plugins/PluginsGenerationService.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

change the name of the generated adaptive card to match the function name
  src/Kiota.Builder/Plugins/AdaptiveCardTemplate.cs
  src/Kiota.Builder/Plugins/PluginsGenerationService.cs
  tests/Kiota.Builder.Tests/Plugins/PluginsGenerationServiceTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

use the adaptive card template as an embedded resource
  src/Kiota.Builder/Kiota.Builder.csproj
  src/Kiota.Builder/Plugins/AdaptiveCardTemplate.cs
  src/Kiota.Builder/Resources/AdaptiveCardTemplate.json
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

add support for OAuth2 implicit flow in PluginsGenerationService
  src/Kiota.Builder/Plugins/PluginsGenerationService.cs
  tests/Kiota.Builder.Tests/Plugins/PluginsGenerationServiceTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

fix formatting
  src/Kiota.Builder/Plugins/PluginsGenerationService.cs
  tests/Kiota.Builder.Tests/Plugins/PluginsGenerationServiceTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

returns none now
  vscode/npm-package/tests/integration/integrationGeneratePlugin.spec.ts
Due: .azure-pipelines/docker.yml

update OAuth2 reference ID expectation to an empty string
  vscode/npm-package/tests/integration/integrationGeneratePlugin.spec.ts
Due: .azure-pipelines/docker.yml

chore: upgrades ms extensions
  src/kiota/kiota.csproj
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: update CHANGELOG.md
  CHANGELOG.md
Due: none

add conditional checks for presence of operationId, adaptive card and successful file creation
  src/Kiota.Builder/Plugins/AdaptiveCardTemplate.cs
  src/Kiota.Builder/Plugins/PluginsGenerationService.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: updates to custom pool
  .azure-pipelines/ci-build.yml
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: update to correct pool name
  .azure-pipelines/ci-build.yml
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Fix: oauth implicit flow should generate none authentication (#6479)
  src/Kiota.Builder/Plugins/PluginsGenerationService.cs
  tests/Kiota.Builder.Tests/Plugins/PluginsGenerationServiceTests.cs
  vscode/npm-package/tests/integration/integrationGeneratePlugin.spec.ts
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: installs powershell on arm64 image
  .azure-pipelines/ci-build.yml
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: fixes condition syntax
  .azure-pipelines/ci-build.yml
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Task: add adaptive card template (#6471)
  src/Kiota.Builder/Kiota.Builder.csproj
  src/Kiota.Builder/Plugins/AdaptiveCardTemplate.cs
  src/Kiota.Builder/Plugins/PluginsGenerationService.cs
  src/Kiota.Builder/Resources/AdaptiveCardTemplate.json
  tests/Kiota.Builder.Tests/Plugins/PluginsGenerationServiceTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: adds missing required step
  .azure-pipelines/ci-build.yml
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: fixes bad collection initialization syntax in tests
  tests/Kiota.Builder.Tests/ContentTypeMappingTests.cs
  tests/Kiota.Builder.Tests/Extensions/OpenApiUrlTreeNodeExtensionsTests.cs
  tests/Kiota.Builder.Tests/KiotaBuilderTests.cs
Due: .azure-pipelines/docker.yml

chore: further collection initialization fixes
  tests/Kiota.Builder.Tests/Extensions/OpenApiUrlTreeNodeExtensionsTests.cs
  tests/Kiota.Builder.Tests/KiotaBuilderTests.cs
Due: .azure-pipelines/docker.yml

chore: upgrades oai.net to preview 17
  src/Kiota.Builder/Extensions/OpenApiDeprecationExtensionExtensions.cs
  src/Kiota.Builder/Extensions/OpenApiSchemaExtensions.cs
  src/Kiota.Builder/Extensions/OpenApiUrlTreeNodeExtensions.cs
  src/Kiota.Builder/Kiota.Builder.csproj
  src/Kiota.Builder/KiotaBuilder.cs
  src/Kiota.Builder/Plugins/PluginsGenerationService.cs
  src/Kiota.Builder/Validation/NoContentWithBody.cs
  src/Kiota.Builder/Validation/OpenApiSchemaComparer.cs
  tests/Kiota.Builder.Tests/Extensions/OpenApiSchemaExtensionsTests.cs
  tests/Kiota.Builder.Tests/FakeLogger.cs
  tests/Kiota.Builder.Tests/KiotaBuilderTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

ci: removes windows x86 from CI at it's unrelated with current changes
  .github/workflows/build-vscode-extension.yml
Due: .azure-pipelines/docker.yml

chore: code linting
  src/Kiota.Builder/Extensions/OpenApiUrlTreeNodeExtensions.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Revert "temp: throw error to get actual issue"
  vscode/npm-package/install.ts
Due: .azure-pipelines/docker.yml

feat: add initial support for AL language with new extensions and refiners
  src/Kiota.Builder/GenerationLanguage.cs
  src/Kiota.Builder/PathSegmenters/ALPathSegmenter.cs
  src/Kiota.Builder/Refiners/ALConfigurationHelper.cs
  src/Kiota.Builder/Refiners/ALRefiner.cs
  src/Kiota.Builder/Refiners/ALReservedNamesProvider.cs
  src/Kiota.Builder/Refiners/ILanguageRefiner.cs
  src/Kiota.Builder/Writers/AL/ALConventionService.cs
  src/Kiota.Builder/Writers/AL/ALObjectIdProvider.cs
  src/Kiota.Builder/Writers/AL/ALVariableProvider.cs
  src/Kiota.Builder/Writers/AL/ALWriter.cs
  src/Kiota.Builder/Writers/AL/CodeBlockEndWriter.cs
  src/Kiota.Builder/Writers/AL/CodeClassDeclarationWriter.cs
  src/Kiota.Builder/Writers/AL/CodeClassExtensions.cs
  src/Kiota.Builder/Writers/AL/CodeElementExtensions.cs
  src/Kiota.Builder/Writers/AL/CodeEnumExtensions.cs
  src/Kiota.Builder/Writers/AL/CodeEnumWriter.cs
  src/Kiota.Builder/Writers/AL/CodeFunctionWriter.cs
  src/Kiota.Builder/Writers/AL/CodeIndexerExtensions.cs
  src/Kiota.Builder/Writers/AL/CodeIndexerWriter.cs
  src/Kiota.Builder/Writers/AL/CodeMethodExtensions.cs
  src/Kiota.Builder/Writers/AL/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/AL/CodeParameterExtensions.cs
  src/Kiota.Builder/Writers/AL/CodePropertyExtensions.cs
  src/Kiota.Builder/Writers/AL/CodePropertyWriter.cs
  src/Kiota.Builder/Writers/AL/CodeTypeBaseExtensions.cs
  src/Kiota.Builder/Writers/AL/CustomPropertyExtensions.cs
  src/Kiota.Builder/Writers/AL/TypeDefinitionExtensions.cs
  src/Kiota.Builder/Writers/LanguageWriter.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Minor changes, small cleanup and add README with some explanation
  src/Kiota.Builder/Writers/AL/ALVariableProvider.cs
  src/Kiota.Builder/Writers/AL/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/AL/README.md
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

fix: set a proper default value for non-nullable python fields
  src/Kiota.Builder/Writers/Python/CodePropertyWriter.cs
  tests/Kiota.Builder.Tests/Writers/Python/CodePropertyWriterTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

add script to generate README.md from TypeScript files
  vscode/npm-package/scripts/generate-readme.js
Due: .azure-pipelines/docker.yml

call script from package.json
  vscode/npm-package/package.json
Due: .azure-pipelines/docker.yml

update README.md to enhance usage instructions and add function details
  vscode/npm-package/readme.md
Due: .azure-pipelines/docker.yml

Revert changes to avoid workspace in CLI Edit command
  CHANGELOG.md
  src/Kiota.Builder/Plugins/PluginsGenerationService.cs
  src/kiota/Handlers/Plugin/EditHandler.cs
  src/kiota/KiotaPluginCommands.cs
  vscode/npm-package/tests/integration/integrationGeneratePlugin.spec.ts
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

change the set runtime values based on scripts
  vscode/microsoft-kiota/package.json
  vscode/npm-package/package.json
  vscode/npm-package/runtime.json
  vscode/npm-package/tests/integration/integrationInstall.spec.ts
Due: .azure-pipelines/docker.yml

fix replacement operation
  vscode/npm-package/tests/integration/integrationInstall.spec.ts
Due: .azure-pipelines/docker.yml

Add OpenApi spec version in tree result for RPC
  src/Kiota.Builder/KiotaBuilder.cs
  src/Kiota.Builder/OpenApiDocumentDownloadService.cs
  src/kiota/Handlers/KiotaShowCommandHandler.cs
  src/kiota/Rpc/OpenApiSpecVersionMapper.cs
  src/kiota/Rpc/Server.cs
  src/kiota/Rpc/ShowResult.cs
  tests/Kiota.Builder.IntegrationTests/SimpleModelOpenApi3_1.yaml
  tests/Kiota.Builder.IntegrationTests/SwaggerPetStore.json
  tests/Kiota.Builder.Tests/FakeLogger.cs
  tests/Kiota.Builder.Tests/KiotaBuilderTests.cs
  vscode/npm-package/tests/integration/integrationGetKiotaTree.spec.ts
  vscode/npm-package/types.ts
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

doc: add comment
  src/Kiota.Builder/Writers/CSharp/CodeMethodWriter.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml
