Repository microsoft/kiota: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Path conditions:
  .azure-pipelines/ci-build.yml: any of: src, .azure-pipelines
  .azure-pipelines/docker.yml: any file but: abstractions, authentication, serialization, http, **.md, .vscode, **.svg

Fix bearer auth ref id and enable global auth
  src/Kiota.Builder/Plugins/PluginsGenerationService.cs
  tests/Kiota.Builder.Tests/Plugins/PluginsGenerationServiceTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Add CHANGELOG entry
  CHANGELOG.md
Due: none

Use correct issue number
  CHANGELOG.md
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

Remove todo comment for root document security
  tests/Kiota.Builder.Tests/Plugins/PluginsGenerationServiceTests.cs
Due: .azure-pipelines/docker.yml

Remove trailing whitespaces
  CHANGELOG.md
Due: none

Write per method
  src/Kiota.Builder/Writers/HTTP/CodeClassDeclarationWriter.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Update writer
  src/Kiota.Builder/Writers/HTTP/CodeClassDeclarationWriter.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Update .azure-pipelines/ci-build.yml
  .azure-pipelines/ci-build.yml
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

test against multiple architectures
  .github/workflows/build-vscode-extension.yml
Due: .azure-pipelines/docker.yml

use same name as previous
  .github/workflows/build-vscode-extension.yml
Due: .azure-pipelines/docker.yml

upload binary artifact
  .github/workflows/build-vscode-extension.yml
Due: .azure-pipelines/docker.yml

publish correct runtime
  .github/workflows/build-vscode-extension.yml
Due: .azure-pipelines/docker.yml

list items in folder
  .github/workflows/build-vscode-extension.yml
Due: .azure-pipelines/docker.yml

remove whitespaces
  vscode/microsoft-kiota/src/kiotaInterop/connect.ts
Due: .azure-pipelines/docker.yml

Close stdin channel for RPC in extension
  vscode/microsoft-kiota/src/kiotaInterop/connect.ts
Due: .azure-pipelines/docker.yml

log the current platform
  vscode/npm-package/install.ts
Due: .azure-pipelines/docker.yml

add architecture to console
  vscode/npm-package/install.ts
Due: .azure-pipelines/docker.yml

skip arm
  .github/workflows/build-vscode-extension.yml
Due: .azure-pipelines/docker.yml

interchange osx arch
  .github/workflows/build-vscode-extension.yml
Due: .azure-pipelines/docker.yml

limit platforms
  .github/workflows/build-vscode-extension.yml
  vscode/npm-package/install.ts
Due: .azure-pipelines/docker.yml

use output variable in original state
  .github/workflows/build-vscode-extension.yml
Due: .azure-pipelines/docker.yml

Fix formatting
  src/Kiota.Builder/Writers/HTTP/CodeClassDeclarationWriter.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Chore: test multiple architectures (#6365)
  .github/workflows/build-vscode-extension.yml
Due: .azure-pipelines/docker.yml

Add test
  tests/Kiota.Builder.Tests/Writers/HTTP/CodeClassDeclarationWriterTests.cs
Due: .azure-pipelines/docker.yml

Fix formatting
  tests/Kiota.Builder.Tests/Writers/HTTP/CodeClassDeclarationWriterTests.cs
Due: .azure-pipelines/docker.yml

Add extension and tests
  src/Kiota.Builder/Extensions/OpenApiSettingsExtensions.cs
  src/Kiota.Builder/OpenApiExtensions/OpenApiAiCapabilities.cs
  src/Kiota.Builder/OpenApiExtensions/OpenApiAiCapabilitiesExtension.cs
  tests/Kiota.Builder.Tests/OpenApiExtensions/OpenApiAiCapabilitiesExtensionTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Update plugin generation service
  src/Kiota.Builder/Plugins/PluginsGenerationService.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Add a generator comment on top of every go file
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  src/Kiota.Builder/Writers/Go/CodeEnumWriter.cs
  src/Kiota.Builder/Writers/Go/CodeFileDeclarationWriter.cs
  src/Kiota.Builder/Writers/Go/CodeProprietableBlockDeclarationWriter.cs
  src/Kiota.Builder/Writers/Go/GoConventionService.cs
  tests/Kiota.Builder.Tests/Writers/Go/CodeClassDeclarationWriterTests.cs
  tests/Kiota.Builder.Tests/Writers/Go/CodeEnumWriterTests.cs
  tests/Kiota.Builder.Tests/Writers/Go/CodeInterfaceDeclarationWriterTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Add tests for plugin generation with capabilities
  tests/Kiota.Builder.Tests/Plugins/PluginsGenerationServiceTests.cs
Due: .azure-pipelines/docker.yml

update changelog
  CHANGELOG.md
Due: none

fix type
  .devcontainer/Dockerfile
Due: .azure-pipelines/docker.yml

Fix formatting
  src/Kiota.Builder/OpenApiExtensions/OpenApiAiCapabilitiesExtension.cs
  tests/Kiota.Builder.Tests/OpenApiExtensions/OpenApiAiCapabilitiesExtensionTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Add flag to be able to apply kiota validation rules on getKiotaTree operation
  src/Kiota.Builder/Configuration/GenerationConfiguration.cs
  src/Kiota.Builder/OpenApiDocumentDownloadService.cs
  src/kiota/Rpc/IServer.cs
  src/kiota/Rpc/Server.cs
  tests/Kiota.Builder.IntegrationTests/ModelWithNoServer.yml
  tests/Kiota.Builder.Tests/FakeLogger.cs
  tests/Kiota.Builder.Tests/OpenApiDocumentDownloadServiceTests.cs
  vscode/npm-package/lib/getKiotaTree.ts
  vscode/npm-package/tests/integration/integrationGetKiotaTree.spec.ts
  vscode/npm-package/types.ts
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

getKiotaTree integration tests and fix mappings RPC-package
  src/kiota/Rpc/AdaptiveCardInfo.cs
  src/kiota/Rpc/PathItem.cs
  src/kiota/Rpc/SecurityRequirementMapper.cs
  src/kiota/Rpc/SecuritySchemeInfo.cs
  src/kiota/Rpc/SecuritySchemeMapper.cs
  src/kiota/Rpc/ShowResult.cs
  tests/Kiota.Builder.IntegrationTests/ModelWithAdaptiveCardExtension.yaml
  tests/Kiota.Builder.IntegrationTests/ModelWithOverriddenServer.yaml
  tests/Kiota.Builder.IntegrationTests/ModelWithRefIdExtension.yaml
  tests/Kiota.Builder.IntegrationTests/ModelWithSecurity.yaml
  tests/Kiota.Builder.IntegrationTests/ModelWithoutBasicInfoInOneOperation.yaml
  vscode/npm-package/tests/integration/integrationGetKiotaTree.spec.ts
  vscode/npm-package/types.ts
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

fix linting
  tests/Kiota.Builder.Tests/FakeLogger.cs
Due: .azure-pipelines/docker.yml

add binaryVersion to Config interface and initialize in config object
  vscode/npm-package/config.ts
Due: .azure-pipelines/docker.yml

update runtime version retrieval during download
  vscode/npm-package/install.ts
Due: .azure-pipelines/docker.yml
