Repository microsoft/kiota: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Path conditions:
  .azure-pipelines/ci-build.yml: any of: src, .azure-pipelines
  .azure-pipelines/docker.yml: any file but: abstractions, authentication, serialization, http, **.md, .vscode, **.svg

generate binaries
  .github/workflows/build-vscode-extension.yml
Due: .azure-pipelines/docker.yml

remove pre-release filter
  .github/workflows/build-vscode-extension.yml
Due: .azure-pipelines/docker.yml

check and zip files after generation
  .github/workflows/build-vscode-extension.yml
Due: .azure-pipelines/docker.yml

Add output of binary file details in build workflow
  .github/workflows/build-vscode-extension.yml
Due: .azure-pipelines/docker.yml

remove the archive step
  .github/workflows/build-vscode-extension.yml
Due: .azure-pipelines/docker.yml

upload without zipping
  .github/workflows/build-vscode-extension.yml
Due: .azure-pipelines/docker.yml

remove the prefix
  .github/workflows/build-vscode-extension.yml
Due: .azure-pipelines/docker.yml

use the architecture for the file name
  .github/workflows/build-vscode-extension.yml
Due: .azure-pipelines/docker.yml

Add command source to telemetry tags
  src/kiota/Extension/KiotaHostExtensions.cs
  src/kiota/Handlers/Client/AddHandler.cs
  src/kiota/Handlers/Client/EditHandler.cs
  src/kiota/Handlers/Client/GenerateHandler.cs
  src/kiota/Handlers/Client/RemoveHandler.cs
  src/kiota/Handlers/KiotaDownloadCommandHandler.cs
  src/kiota/Handlers/KiotaGenerateCommandHandler.cs
  src/kiota/Handlers/KiotaGitHubDeviceLoginCommandHanlder.cs
  src/kiota/Handlers/KiotaGitHubLogoutCommandhandler.cs
  src/kiota/Handlers/KiotaGitHubPatLoginCommandHandler.cs
  src/kiota/Handlers/KiotaInfoCommandHandler.cs
  src/kiota/Handlers/KiotaSearchCommandHandler.cs
  src/kiota/Handlers/KiotaShowCommandHandler.cs
  src/kiota/Handlers/KiotaUpdateCommandHandler.cs
  src/kiota/Handlers/Plugin/AddHandler.cs
  src/kiota/Handlers/Plugin/EditHandler.cs
  src/kiota/Handlers/Plugin/GenerateHandler.cs
  src/kiota/Handlers/Plugin/RemoveHandler.cs
  src/kiota/Handlers/Workspace/InitHandler.cs
  src/kiota/Handlers/Workspace/MigrateHandler.cs
  src/kiota/Telemetry/TelemetryLabels.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

specify retention days
  .github/workflows/build-vscode-extension.yml
Due: .azure-pipelines/docker.yml

Chore: bundle binaries (#6332)
  .github/workflows/build-vscode-extension.yml
Due: .azure-pipelines/docker.yml

change hosted pool
  .azure-pipelines/ci-build.yml
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Changes to fix merge from main
  src/kiota/Rpc/SecurityRequirementMapper.cs
  src/kiota/Rpc/Server.cs
  src/kiota/Rpc/ServersMapper.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

feat: move ts serializers to instance methods
  src/Kiota.Builder/Refiners/TypeScriptRefiner.cs
  src/Kiota.Builder/Writers/TypeScript/CodeFunctionWriter.cs
  tests/Kiota.Builder.Tests/Writers/TypeScript/CodeFunctionWriterTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

fix formatting
  src/Kiota.Builder/Writers/TypeScript/CodeFunctionWriter.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Update dependecies for test
  it/typescript/package-lock.json
  it/typescript/package.json
Due: .azure-pipelines/docker.yml

Fix tags list capacity
  src/kiota/Handlers/Client/AddHandler.cs
  src/kiota/Handlers/Client/GenerateHandler.cs
  src/kiota/Handlers/Client/RemoveHandler.cs
  src/kiota/Handlers/KiotaDownloadCommandHandler.cs
  src/kiota/Handlers/KiotaGenerateCommandHandler.cs
  src/kiota/Handlers/KiotaInfoCommandHandler.cs
  src/kiota/Handlers/KiotaSearchCommandHandler.cs
  src/kiota/Handlers/KiotaShowCommandHandler.cs
  src/kiota/Handlers/KiotaUpdateCommandHandler.cs
  src/kiota/Handlers/Plugin/AddHandler.cs
  src/kiota/Handlers/Plugin/EditHandler.cs
  src/kiota/Handlers/Plugin/GenerateHandler.cs
  src/kiota/Handlers/Plugin/RemoveHandler.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

use generic email
  .azure-pipelines/ci-build.yml
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Additional test and minor refactor
  src/kiota/Rpc/PathItem.cs
  src/kiota/Rpc/PluginResultMapper.cs
  src/kiota/Rpc/PluginRuntime.cs
  src/kiota/Rpc/Server.cs
  src/kiota/Rpc/ShowResult.cs
  tests/Kiota.Builder.IntegrationTests/ModelWithSecurity.yaml
  vscode/npm-package/integration_tests/integrationGeneratePlugin.spec.ts
  vscode/npm-package/package.json
  vscode/npm-package/types.ts
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

use different email
  .azure-pipelines/ci-build.yml
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

add different mails
  .azure-pipelines/ci-build.yml
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

feat: move ts serializers to instance methods (#6333)
  it/typescript/package-lock.json
  it/typescript/package.json
  src/Kiota.Builder/Refiners/TypeScriptRefiner.cs
  src/Kiota.Builder/Writers/TypeScript/CodeFunctionWriter.cs
  tests/Kiota.Builder.Tests/Writers/TypeScript/CodeFunctionWriterTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Add acquisition source info to binary
  .azure-pipelines/ci-build.yml
  src/kiota/Extension/KiotaHostExtensions.cs
  src/kiota/Telemetry/TelemetryLabels.cs
  src/kiota/kiota.csproj
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Add command source to telemetry tags (#6334)
  src/kiota/Extension/KiotaHostExtensions.cs
  src/kiota/Handlers/Client/AddHandler.cs
  src/kiota/Handlers/Client/EditHandler.cs
  src/kiota/Handlers/Client/GenerateHandler.cs
  src/kiota/Handlers/Client/RemoveHandler.cs
  src/kiota/Handlers/KiotaDownloadCommandHandler.cs
  src/kiota/Handlers/KiotaGenerateCommandHandler.cs
  src/kiota/Handlers/KiotaGitHubDeviceLoginCommandHanlder.cs
  src/kiota/Handlers/KiotaGitHubLogoutCommandhandler.cs
  src/kiota/Handlers/KiotaGitHubPatLoginCommandHandler.cs
  src/kiota/Handlers/KiotaInfoCommandHandler.cs
  src/kiota/Handlers/KiotaSearchCommandHandler.cs
  src/kiota/Handlers/KiotaShowCommandHandler.cs
  src/kiota/Handlers/KiotaUpdateCommandHandler.cs
  src/kiota/Handlers/Plugin/AddHandler.cs
  src/kiota/Handlers/Plugin/EditHandler.cs
  src/kiota/Handlers/Plugin/GenerateHandler.cs
  src/kiota/Handlers/Plugin/RemoveHandler.cs
  src/kiota/Handlers/Workspace/InitHandler.cs
  src/kiota/Handlers/Workspace/MigrateHandler.cs
  src/kiota/Telemetry/TelemetryLabels.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

fix: an issue with inline type naming following oai.net upgrade
  src/Kiota.Builder/KiotaBuilder.cs
  tests/Kiota.Builder.Tests/KiotaBuilderTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

update CI pipeline to use Windows 2022 image
  .azure-pipelines/ci-build.yml
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Use path heuristics to determine acquisition channel
  .azure-pipelines/ci-build.yml
  src/kiota/Extension/KiotaHostExtensions.cs
  src/kiota/kiota.csproj
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: bumps version
  src/Kiota.Builder/Kiota.Builder.csproj
  src/kiota/kiota.csproj
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: adds version entry to changelog
  CHANGELOG.md
Due: none

Add docker & vscode extension channels
  src/kiota/Extension/KiotaHostExtensions.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Add acquisition channel unit tests
  src/kiota/Extension/KiotaHostExtensions.cs
  tests/Kiota.Tests/Extension/KiotaHostExtensionsTests.cs
  tests/Kiota.Tests/Kiota.Tests.csproj
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Update .github/workflows/build-vscode-extension.yml
  .github/workflows/build-vscode-extension.yml
Due: .azure-pipelines/docker.yml

appy suggested changes
  .azure-pipelines/ci-build.yml
  .github/workflows/build-vscode-extension.yml
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Manage Reference Id extension in getKiotaTree and plugin generation
  src/Kiota.Builder/Extensions/AuthExtensions.cs
  src/Kiota.Builder/Plugins/PluginsGenerationService.cs
  src/kiota/Rpc/PluginResultMapper.cs
  src/kiota/Rpc/SecuritySchemeInfo.cs
  src/kiota/Rpc/SecuritySchemeMapper.cs
  src/kiota/Rpc/Server.cs
  tests/Kiota.Builder.IntegrationTests/ModelWithRefIdExtension.yaml
  vscode/npm-package/integration_tests/integrationGeneratePlugin.spec.ts
  vscode/npm-package/integration_tests/integrationGetKiotaTree.spec.ts
  vscode/npm-package/lib/generatePlugin.ts
  vscode/npm-package/types.ts
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Address PR comments with refactor and removal of unused namespaces
  src/kiota/Rpc/SecurityRequirementMapper.cs
  src/kiota/Rpc/Server.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Fix issue with data path property casing
  src/Kiota.Builder/OpenApiExtensions/OpenApiAiAdaptiveCardExtension.cs
  tests/Kiota.Builder.Tests/OpenApiExtensions/OpenApiAiAdaptiveCardExtensionTests.cs
  tests/Kiota.Builder.Tests/Plugins/PluginsGenerationServiceTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Add CHANGELOG entry
  CHANGELOG.md
Due: none

Typo in changelog
  CHANGELOG.md
Due: none

Add basic API info in response of getKiotaTree #6346
  src/kiota/Rpc/PathItem.cs
  src/kiota/Rpc/Server.cs
  tests/Kiota.Builder.IntegrationTests/ModelWithoutBasicInfoInOneOperation.yaml
  vscode/npm-package/integration_tests/integrationGetKiotaTree.spec.ts
  vscode/npm-package/types.ts
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Revert "chore: bumps version"
  src/Kiota.Builder/Kiota.Builder.csproj
  src/kiota/kiota.csproj
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml
