Repository microsoft/kiota: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

.azure-pipelines/ci-build.yml:
  schedules:
  - cron: 0 18 * * 4
    displayName: Weekly build
    branches:
      include:
      - main
    always: true
  stages:
  - stage: BuildImage
    displayName: Build Docker Image
  ...

.azure-pipelines/docker.yml:
  name: $(BuildDefinitionName)-$(Date:yyyyMMdd)
  schedules:
  - cron: 0 18 * * 4
    displayName: Weekly preview
    branches:
      include:
      - main
    always: true
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      sdl:
        sourceAnalysisPool:
  ...

ci: fixes version alignement between npm package and extension during publishing process
  .azure-pipelines/ci-build.yml
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

caching overlay seams ok
  src/Kiota.Builder/Caching/OverlayCachingProvider.cs
  src/Kiota.Builder/Lock/KiotaLock.cs
  src/Kiota.Builder/OpenApiDocumentDownloadService.cs
  tests/Kiota.Builder.Tests/OpenApiDocumentDownloadServiceTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

cleanup
  src/Kiota.Builder/Caching/OverlayCachingProvider.cs
  src/Kiota.Builder/OpenApiDocumentDownloadService.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

ad d BinkyLabs.OpenApi.Overlays
  src/Kiota.Builder/Kiota.Builder.csproj
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: fixes esproj package path after merge
  kiota.sln
Due: .azure-pipelines/docker.yml

ci: fixes unit test path after merge
  tests/Kiota.NPM.IntegrationTests/InstallTests.cs
Due: .azure-pipelines/docker.yml

ci: fixes install unit test
  tests/Kiota.NPM.IntegrationTests/InstallTests.cs
Due: .azure-pipelines/docker.yml

ci: adds nvm support for windows in unit test
  tests/Kiota.NPM.IntegrationTests/InstallTests.cs
Due: .azure-pipelines/docker.yml

chore: fixes dependency name in unit test
  tests/Kiota.NPM.IntegrationTests/InstallTests.cs
Due: .azure-pipelines/docker.yml

ci: adds missing setup node
  .github/workflows/dotnet.yml
Due: .azure-pipelines/docker.yml

chore: upgrades from deprecated API
  vscode/packages/npm-package/install.ts
Due: .azure-pipelines/docker.yml

fix: do not validate hash when it's the dev placeholder
  vscode/packages/npm-package/install.ts
Due: .azure-pipelines/docker.yml

ci: adds version update for unit test
  .github/workflows/dotnet.yml
Due: .azure-pipelines/docker.yml

chore: removes esproj since it slows down everything and creates files all over the place
  kiota.sln
  vscode/packages/npm-package/npm-package.esproj
Due: .azure-pipelines/docker.yml

docs: adds changelog entry for npx command
  CHANGELOG.md
Due: none

ci: switches to GHA for version script
  .github/workflows/dotnet.yml
Due: .azure-pipelines/docker.yml

ci: fix csproj path
  .github/workflows/dotnet.yml
Due: .azure-pipelines/docker.yml

ci: life is always better with quotes
  .github/workflows/dotnet.yml
Due: .azure-pipelines/docker.yml

Revert "chore: removes esproj since it slows down everything and creates files all over the place"
  kiota.sln
  vscode/packages/npm-package/npm-package.esproj
Due: .azure-pipelines/docker.yml

fixes serialization/deserialization of @ symbol
  src/Kiota.Builder/Extensions/StringExtensions.cs
  tests/Kiota.Builder.Tests/Extensions/StringExtensionsTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Use more explicit null check to avoid _ clash when there's a namespace named _.
  src/Kiota.Builder/Writers/CSharp/CodeMethodWriter.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Update tests.
  tests/Kiota.Builder.Tests/Writers/CSharp/CodeMethodWriterTests.cs
Due: .azure-pipelines/docker.yml

chore: fixes nullable information
  src/kiota/Rpc/IServer.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: makes a copy of the overlays hashset when cloning
  src/Kiota.Builder/Configuration/GenerationConfiguration.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: removes extraneous import
  src/Kiota.Builder/OpenApiDocumentDownloadService.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: removes extraneous method
  src/kiota/KiotaPluginCommands.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

fix(ts): support discriminator properties starting with double underscores (e.g., __component)
  src/Kiota.Builder/Writers/TypeScript/TypeScriptConventionService.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

fix: use correct type for byte array values (original patch by @odig)
  src/Kiota.Builder/Writers/Dart/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Dart/DartConventionService.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

uniformisation
  src/Kiota.Builder/Configuration/GenerationConfiguration.cs
  src/kiota/Rpc/Server.cs
  tests/Kiota.Builder.Tests/OpenApiDocumentDownloadServiceTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Fix Missing Schema
  src/Kiota.Builder/KiotaBuilder.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

typescript: allow mixed types for `anyOf`
  src/Kiota.Builder/KiotaBuilder.cs
  tests/Kiota.Builder.Tests/KiotaBuilderTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

update changelog, remove redundancy in kiotabuilder
  CHANGELOG.md
  src/Kiota.Builder/KiotaBuilder.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

updates changelog
  CHANGELOG.md
Due: none

dotnet format tests/Kiota.Builder.Tests/Kiota.Builder.Tests.csproj
  src/Kiota.Builder/KiotaBuilder.cs
  tests/Kiota.Builder.Tests/KiotaBuilderTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

fix idempotency ci tests
  src/Kiota.Builder/KiotaBuilder.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Update changelog.
  CHANGELOG.md
Due: none

Mark fully named integer and boolean types as nullable
  src/Kiota.Builder/Writers/CSharp/CSharpConventionService.cs
  tests/Kiota.Builder.Tests/Writers/CSharp/CodeMethodWriterTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Update changelog with fix for #6834
  CHANGELOG.md
Due: none

updqte binkyLabs nugget
  src/Kiota.Builder/Kiota.Builder.csproj
  src/Kiota.Builder/OpenApiDocumentDownloadService.cs
  tests/Kiota.Builder.Tests/OpenApiDocumentDownloadServiceTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Path conditions:
  .azure-pipelines/ci-build.yml: any of: src, .azure-pipelines
  .azure-pipelines/docker.yml: any file but: abstractions, authentication, serialization, http, **.md, .vscode, **.svg
