Repository microsoft/kiota: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Path conditions:
  .azure-pipelines/ci-build.yml: any of: src, .azure-pipelines
  .azure-pipelines/docker.yml: any file but: abstractions, authentication, serialization, http, **.md, .vscode, **.svg

fix: Replace rmdirSync with rmSync due to API changes (#7223)
  vscode/packages/npm-package/install.ts
Due: .azure-pipelines/docker.yml

feat: adds support for net10
  .azure-pipelines/ci-build.yml
  .github/workflows/build-vscode-extension.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dotnet.yml
  .github/workflows/idempotency-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/load-tests.yml
  .github/workflows/sonarcloud.yml
  .vscode/launch.json
  CHANGELOG.md
  Dockerfile
  global.json
  it/Readme.md
  it/csharp/basic/basic.csproj
  it/csharp/dotnet.csproj
  scripts/execute-vscode-sideload.ps1
  src/Kiota.Builder/Kiota.Builder.csproj
  src/kiota/kiota.csproj
  tests/Kiota.Builder.IntegrationTests/Kiota.Builder.IntegrationTests.csproj
  tests/Kiota.Builder.Tests/Kiota.Builder.Tests.csproj
  tests/Kiota.Tests/Kiota.Tests.csproj
  vscode/packages/microsoft-kiota/CONTRIBUTING.md
  vscode/packages/microsoft-kiota/debugging.md
  vscode/packages/npm-package/CONTRIBUTING.md
  vscode/packages/npm-package/debugging.md
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

fix: use generated methods for logging to reduce performance impact
  src/Kiota.Builder/SearchProviders/GitHub/GitHubSearchProvider.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

fix: additional logger conversions for performance in kiota builder
  src/Kiota.Builder/KiotaBuilder.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

fix: additional logging migration
  src/Kiota.Builder/Caching/DocumentCachingProvider.cs
  src/Kiota.Builder/Extensions/OpenApiUrlTreeNodeExtensions.cs
  src/Kiota.Builder/KiotaBuilder.cs
  src/Kiota.Builder/KiotaSearcher.cs
  src/Kiota.Builder/OpenApiDocumentDownloadService.cs
  src/Kiota.Builder/Plugins/AdaptiveCardTemplate.cs
  src/Kiota.Builder/Plugins/PluginsGenerationService.cs
  src/Kiota.Builder/WorkspaceManagement/WorkspaceManagementService.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: migrates to slnx for a better developer experience
  .azure-pipelines/ci-build.yml
  .github/workflows/dotnet.yml
  .github/workflows/idempotency-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/sonarcloud.yml
  .vscode/settings.json
  .vscode/tasks.json
  kiota.sln
  kiota.slnx
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

fix: implements the isEnabled method as loggers depend on it now
  tests/Kiota.Builder.Tests/CountLogger.cs
Due: .azure-pipelines/docker.yml

feat: adds support for net10 (#7234)
  .azure-pipelines/ci-build.yml
  .github/workflows/build-vscode-extension.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dotnet.yml
  .github/workflows/idempotency-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/load-tests.yml
  .github/workflows/sonarcloud.yml
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  CHANGELOG.md
  Dockerfile
  global.json
  it/Readme.md
  it/csharp/basic/basic.csproj
  it/csharp/dotnet.csproj
  kiota.sln
  kiota.slnx
  scripts/execute-vscode-sideload.ps1
  src/Kiota.Builder/Caching/DocumentCachingProvider.cs
  src/Kiota.Builder/Extensions/OpenApiUrlTreeNodeExtensions.cs
  src/Kiota.Builder/Kiota.Builder.csproj
  src/Kiota.Builder/KiotaBuilder.cs
  src/Kiota.Builder/KiotaSearcher.cs
  src/Kiota.Builder/OpenApiDocumentDownloadService.cs
  src/Kiota.Builder/Plugins/AdaptiveCardTemplate.cs
  src/Kiota.Builder/Plugins/PluginsGenerationService.cs
  src/Kiota.Builder/SearchProviders/GitHub/GitHubSearchProvider.cs
  src/Kiota.Builder/WorkspaceManagement/WorkspaceManagementService.cs
  src/kiota/kiota.csproj
  tests/Kiota.Builder.IntegrationTests/Kiota.Builder.IntegrationTests.csproj
  tests/Kiota.Builder.Tests/CountLogger.cs
  tests/Kiota.Builder.Tests/Kiota.Builder.Tests.csproj
  tests/Kiota.Tests/Kiota.Tests.csproj
  vscode/packages/microsoft-kiota/CONTRIBUTING.md
  vscode/packages/microsoft-kiota/debugging.md
  vscode/packages/npm-package/CONTRIBUTING.md
  vscode/packages/npm-package/debugging.md
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Tweaking after output check
  src/Kiota.Builder/Refiners/PythonRefiner.cs
  src/Kiota.Builder/Refiners/RubyRefiner.cs
  src/Kiota.Builder/Writers/Dart/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Python/CodeMethodWriter.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Go import compile fix
  src/Kiota.Builder/Refiners/GoRefiner.cs
  tests/Kiota.Builder.Tests/Writers/Go/CodeMethodWriterTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Simplify early return
  src/Kiota.Builder/KiotaBuilder.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Revert Typescript; the architecture doesn't support this
  src/Kiota.Builder/Writers/TypeScript/CodeFunctionWriter.cs
  tests/Kiota.Builder.Tests/Writers/TypeScript/CodeFunctionWriterTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Update CHANGELOG.md
  CHANGELOG.md
Due: none

ci: adds a group for pytest dependencies
  .github/dependabot.yml
Due: .azure-pipelines/docker.yml

ci: adds a group for pytest dependencies (#7266)
  .github/dependabot.yml
Due: .azure-pipelines/docker.yml

fix: generate binary response when errors include plain text
  .gitignore
  src/Kiota.Builder/KiotaBuilder.cs
  tests/Kiota.Builder.Tests/KiotaBuilderTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

added changelog
  CHANGELOG.md
Due: none

fix: generate binary response when errors include plain text (#7284)
  .gitignore
  CHANGELOG.md
  src/Kiota.Builder/KiotaBuilder.cs
  tests/Kiota.Builder.Tests/KiotaBuilderTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: updates MS ext hosting that was left behind by dependabot
  src/kiota/kiota.csproj
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

ci: adds dotnet install for arm build windows as it's missing from base image
  .azure-pipelines/ci-build.yml
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: fixes display name
  .azure-pipelines/ci-build.yml
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

ci/arm build (#7299)
  .azure-pipelines/ci-build.yml
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

fix: corrects missing using statements in C# union type wrappers (#7320)
  CHANGELOG.md
  src/Kiota.Builder/Refiners/CSharpRefiner.cs
  tests/Kiota.Builder.Tests/Refiners/CSharpLanguageRefinerTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Fix nullable marker in C# union/intersection type pattern matching (#7285)
  src/Kiota.Builder/Writers/CSharp/CodeMethodWriter.cs
  tests/Kiota.Builder.Tests/Writers/CSharp/CodeMethodWriterTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

- bumps version for release of 1.30.0
  CHANGELOG.md
Due: none

- bumps version for release of 1.30.0 (#7326)
  CHANGELOG.md
Due: none

- bumps version for prerelease of 1.31.0
  src/Kiota.Builder/Kiota.Builder.csproj
  src/kiota/kiota.csproj
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

- bumps version for prerelease of 1.31.0 (#7329)
  src/Kiota.Builder/Kiota.Builder.csproj
  src/kiota/kiota.csproj
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Add reverse test cases
  tests/Kiota.Builder.Tests/Writers/CSharp/YamlToCSharpTests.cs
Due: .azure-pipelines/docker.yml

Add GetSchemaReferenceIds test, covering nullable handling
  tests/Kiota.Builder.Tests/Extensions/OpenApiSchemaExtensionsTests.cs
Due: .azure-pipelines/docker.yml

fix(TypeScript): use import type for enum types
  src/Kiota.Builder/Writers/TypeScript/CodeUsingWriter.cs
  tests/Kiota.Builder.Tests/Writers/TypeScript/CodeUsingWriterTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Update changelog: Fix TypeScript enum imports for type aliases
  CHANGELOG.md
Due: none

fix(TypeScript): use import type for enum types (#7332)
  CHANGELOG.md
  src/Kiota.Builder/Writers/TypeScript/CodeUsingWriter.cs
  tests/Kiota.Builder.Tests/Writers/TypeScript/CodeUsingWriterTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

bugfix for #7339
  src/Kiota.Builder/Extensions/OpenApiSchemaExtensions.cs
  tests/Kiota.Builder.Tests/KiotaBuilderTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

added entry to changelog
  CHANGELOG.md
Due: none

fix: discriminator keys for oneOf with allOf-inherited types
  CHANGELOG.md
  src/Kiota.Builder/Extensions/OpenApiSchemaExtensions.cs
  tests/Kiota.Builder.Tests/KiotaBuilderTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

ci: splits package and vscode build scripts
  vscode/package.json
Due: .azure-pipelines/docker.yml

fix: missing file extension for the esm variant of the npm package
  vscode/packages/npm-package/connect.ts
  vscode/packages/npm-package/index.ts
  vscode/packages/npm-package/install.ts
  vscode/packages/npm-package/utils.ts
Due: .azure-pipelines/docker.yml

fix: type definition location
  vscode/packages/npm-package/tsconfig.cjs.json
  vscode/packages/npm-package/tsconfig.esm.json
Due: .azure-pipelines/docker.yml

docs: adds changelog entries for npm package fixes
  CHANGELOG.md
Due: none
