Repository microsoft/kiota: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

.azure-pipelines/ci-build.yml:
  schedules:
  - cron: 0 18 * * 4
    displayName: Weekly build
    branches:
      include:
      - main
    always: true
  stages:
  - stage: BuildImage
    displayName: Build Docker Image
  ...

.azure-pipelines/docker.yml:
  name: $(BuildDefinitionName)-$(Date:yyyyMMdd)
  schedules:
  - cron: 0 18 * * 4
    displayName: Weekly preview
    branches:
      include:
      - main
    always: true
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      sdl:
        sourceAnalysisPool:
  ...

fix: when changing property names, preserve original name for serialization
  src/Kiota.Builder/Refiners/DartRefiner.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

test: added test for property name serialization
  tests/Kiota.Builder.Tests/Refiners/DartLanguageRefinerTests.cs
Due: .azure-pipelines/docker.yml

docs: adds a changelog entry for dart serialization fix
  CHANGELOG.md
Due: none

Merge pull request #6393 from ricardoboss/fixes/preseve-serialization-name-during-refining
  CHANGELOG.md
  src/Kiota.Builder/Refiners/DartRefiner.cs
  tests/Kiota.Builder.Tests/Refiners/DartLanguageRefinerTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

ignore default response when finding media types.
  src/Kiota.Builder/KiotaBuilder.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

build npm package before building extension
  .azure-pipelines/ci-build.yml
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

build: add npm build step before packaging VSCode extension
  .azure-pipelines/ci-build.yml
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: standardize quotes
  .azure-pipelines/ci-build.yml
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Fix: Add build step to release pipeline (#6415)
  .azure-pipelines/ci-build.yml
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

fix devcontainer
  .devcontainer/devcontainer.json
Due: .azure-pipelines/docker.yml

remove brackets on return types when there is only one
  src/Kiota.Builder/Writers/Go/CodeMethodWriter.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

replace and remove deprecated extensions
  .devcontainer/devcontainer.json
Due: .azure-pipelines/docker.yml

use tabs instead of spaces
  src/Kiota.Builder/Writers/Go/GoWriter.cs
  src/Kiota.Builder/Writers/LanguageWriter.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

update changelog
  CHANGELOG.md
Due: none

Fix security mapping #6417
  src/kiota/Rpc/PathItem.cs
  src/kiota/Rpc/SecurityRequirementMapper.cs
  src/kiota/Rpc/SecuritySchemeMapper.cs
  src/kiota/Rpc/ShowResult.cs
  tests/Kiota.Builder.IntegrationTests/ModelWithMultipleSecurity.yaml
  vscode/npm-package/tests/integration/integrationGetKiotaTree.spec.ts
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Adding tests and extracting extension method for semantic usage
  src/Kiota.Builder/Extensions/OpenApiResponsesExtensions.cs
  src/Kiota.Builder/KiotaBuilder.cs
  tests/Kiota.Builder.Tests/Extensions/OpenApiResponsesExtensionsTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Add changelog line
  CHANGELOG.md
Due: none

add recommended c# devkit extension
  .devcontainer/devcontainer.json
Due: .azure-pipelines/docker.yml

also add github actions extension
  .devcontainer/devcontainer.json
Due: .azure-pipelines/docker.yml

fix more code
  src/Kiota.Builder/Writers/Go/CodeMethodWriter.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

more work
  it/go/app.go
  src/Kiota.Builder/Writers/Go/CodeMethodWriter.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

fix changelog format
  CHANGELOG.md
Due: none

remove trailing spaces on comments
  CHANGELOG.md
  src/Kiota.Builder/Writers/Go/GoConventionService.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

fix import ordering
  CHANGELOG.md
  src/Kiota.Builder/Writers/Go/CodeFileDeclarationWriter.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

remove dependency
  src/Kiota.Builder/Writers/Go/GoConventionService.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

use a constructor
  src/Kiota.Builder/Writers/Go/GoWriter.cs
  src/Kiota.Builder/Writers/LanguageWriter.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Fix security mapping #6417 (#6420)
  src/kiota/Rpc/PathItem.cs
  src/kiota/Rpc/SecurityRequirementMapper.cs
  src/kiota/Rpc/SecuritySchemeMapper.cs
  src/kiota/Rpc/ShowResult.cs
  tests/Kiota.Builder.IntegrationTests/ModelWithMultipleSecurity.yaml
  vscode/npm-package/tests/integration/integrationGetKiotaTree.spec.ts
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

fix: ignore default response when finding media types. (#6414)
  CHANGELOG.md
  src/Kiota.Builder/Extensions/OpenApiResponsesExtensions.cs
  src/Kiota.Builder/KiotaBuilder.cs
  tests/Kiota.Builder.Tests/Extensions/OpenApiResponsesExtensionsTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

add comment
  src/Kiota.Builder/Writers/Go/CodeFileDeclarationWriter.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

simplify sort
  src/Kiota.Builder/Writers/Go/CodeFileDeclarationWriter.cs
  src/Kiota.Builder/Writers/Go/GoNamespaceExtensions.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

use correct helper method
  src/Kiota.Builder/Writers/Go/CodeEnumWriter.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

simplify another import statement
  src/Kiota.Builder/Writers/Go/CodeEnumWriter.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

more import ordering fixes
  src/Kiota.Builder/Writers/Go/CodeFileDeclarationWriter.cs
  src/Kiota.Builder/Writers/Go/CodeProprietableBlockDeclarationWriter.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

correctly indent switch statements
  src/Kiota.Builder/Writers/Go/CodeEnumWriter.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

fix switch statements
  CHANGELOG.md
  src/Kiota.Builder/Writers/Go/CodeEnumWriter.cs
  src/Kiota.Builder/Writers/Go/CodeMethodWriter.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

more formatting tweaks
  src/Kiota.Builder/Refiners/GoRefiner.cs
  src/Kiota.Builder/Writers/Go/CodeMethodWriter.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

more formatting
  src/Kiota.Builder/Writers/Go/CodeMethodWriter.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

newline after each func
  src/Kiota.Builder/Writers/Go/CodeMethodWriter.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: updates extensions dependencies
  src/kiota/kiota.csproj
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Path conditions:
  .azure-pipelines/ci-build.yml: any of: src, .azure-pipelines
  .azure-pipelines/docker.yml: any file but: abstractions, authentication, serialization, http, **.md, .vscode, **.svg
