Repository microsoft/kiota: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Path conditions:
  .azure-pipelines/ci-build.yml: any of: src, .azure-pipelines
  .azure-pipelines/docker.yml: any file but: abstractions, authentication, serialization, http, **.md, .vscode, **.svg

export public interfaces
  vscode/npm-package/lib/generateClient.ts
  vscode/npm-package/lib/generatePlugin.ts
  vscode/npm-package/lib/getKiotaTree.ts
  vscode/npm-package/lib/getManifestDetails.ts
  vscode/npm-package/lib/getPluginManifest.ts
  vscode/npm-package/lib/languageInformation.ts
  vscode/npm-package/lib/removeItem.ts
  vscode/npm-package/lib/searchDescription.ts
  vscode/npm-package/lib/updateClients.ts
  vscode/npm-package/lib/validateManifest.ts
  vscode/npm-package/types.ts
Due: .azure-pipelines/docker.yml

Remove legacy interfaces
  vscode/npm-package/types.ts
Due: .azure-pipelines/docker.yml

test that the config version is downloaded
  vscode/npm-package/tests/integration/integrationInstall.spec.ts
Due: .azure-pipelines/docker.yml

remove only field
  vscode/npm-package/tests/integration/integrationInstall.spec.ts
Due: .azure-pipelines/docker.yml

update test
  vscode/npm-package/tests/integration/integrationInstall.spec.ts
Due: .azure-pipelines/docker.yml

Task: runtime version override (#6377)
  vscode/npm-package/config.ts
  vscode/npm-package/install.ts
  vscode/npm-package/tests/integration/integrationInstall.spec.ts
Due: .azure-pipelines/docker.yml

Sideloading env variable to copy kiota zip from
  vscode/npm-package/install.ts
  vscode/npm-package/tests/integration/integrationInstall.spec.ts
Due: .azure-pipelines/docker.yml

Run tests sequentially
  vscode/npm-package/package.json
Due: .azure-pipelines/docker.yml

Use valid download version
  vscode/npm-package/tests/integration/integrationInstall.spec.ts
Due: .azure-pipelines/docker.yml

make call to searchDescription async
  vscode/microsoft-kiota/src/commands/openApidescription/searchOrOpenApiDescriptionCommand.ts
Due: .azure-pipelines/docker.yml

Write per method
  src/Kiota.Builder/Writers/HTTP/CodeClassDeclarationWriter.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Restore launch.json
  .vscode/launch.json
  src/openapi.json
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Filter query parameters
  src/Kiota.Builder/Writers/HTTP/CodeClassDeclarationWriter.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Fix generation
  .vscode/launch.json
  src/openapi.json
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Add test
  tests/Kiota.Builder.Tests/Writers/HTTP/CodeClassDeclarationWriterTests.cs
Due: .azure-pipelines/docker.yml

Fix formatting
  src/Kiota.Builder/Writers/HTTP/CodeClassDeclarationWriter.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Add changelog entry
  CHANGELOG.md
Due: none

Update writer
  src/Kiota.Builder/Writers/HTTP/CodeClassDeclarationWriter.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Fix formatting
  tests/Kiota.Builder.Tests/Writers/HTTP/CodeClassDeclarationWriterTests.cs
Due: .azure-pipelines/docker.yml

check that values are not null
  src/kiota/Rpc/AdaptiveCardMapper.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: simplify npm install command and update environment variable for kiota binary zip path
  .github/workflows/build-vscode-extension.yml
  vscode/npm-package/install.ts
Due: .azure-pipelines/docker.yml

ci: add build extension job to handle build matrix results
  .github/workflows/build-vscode-extension.yml
Due: .azure-pipelines/docker.yml

Fix formatting
  src/Kiota.Builder/OpenApiExtensions/OpenApiAiCapabilitiesExtension.cs
  tests/Kiota.Builder.Tests/OpenApiExtensions/OpenApiAiCapabilitiesExtensionTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Add extension and tests
  src/Kiota.Builder/Extensions/OpenApiSettingsExtensions.cs
  src/Kiota.Builder/OpenApiExtensions/OpenApiAiCapabilities.cs
  src/Kiota.Builder/OpenApiExtensions/OpenApiAiCapabilitiesExtension.cs
  tests/Kiota.Builder.Tests/OpenApiExtensions/OpenApiAiCapabilitiesExtensionTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Write json with empty object if no extension properties are set
  src/Kiota.Builder/OpenApiExtensions/OpenApiAiAdaptiveCardExtension.cs
  src/Kiota.Builder/OpenApiExtensions/OpenApiAiCapabilitiesExtension.cs
  src/Kiota.Builder/OpenApiExtensions/OpenApiLogoExtension.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Initial commit
  src/Kiota.Builder/OpenApiExtensions/OpenApiAiCapabilities.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Add CHANGELOG entry
  CHANGELOG.md
Due: none

Update plugin generation service
  src/Kiota.Builder/Plugins/PluginsGenerationService.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Add tests for plugin generation with capabilities
  tests/Kiota.Builder.Tests/Plugins/PluginsGenerationServiceTests.cs
Due: .azure-pipelines/docker.yml

Use dedicated subtypes for parsing capabilities
  src/Kiota.Builder/OpenApiExtensions/OpenApiAiCapabilitiesExtension.cs
  src/Kiota.Builder/Plugins/PluginsGenerationService.cs
  tests/Kiota.Builder.Tests/OpenApiExtensions/OpenApiAiCapabilitiesExtensionTests.cs
  tests/Kiota.Builder.Tests/Plugins/PluginsGenerationServiceTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: formatting
  src/Kiota.Builder/OpenApiExtensions/OpenApiLogoExtension.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

feat: support for generating function capabilities in plugin manifest from x-ai-capabilities
  CHANGELOG.md
  src/Kiota.Builder/Extensions/OpenApiSettingsExtensions.cs
  src/Kiota.Builder/OpenApiExtensions/OpenApiAiAdaptiveCardExtension.cs
  src/Kiota.Builder/OpenApiExtensions/OpenApiAiCapabilitiesExtension.cs
  src/Kiota.Builder/OpenApiExtensions/OpenApiLogoExtension.cs
  src/Kiota.Builder/Plugins/PluginsGenerationService.cs
  tests/Kiota.Builder.Tests/OpenApiExtensions/OpenApiAiCapabilitiesExtensionTests.cs
  tests/Kiota.Builder.Tests/Plugins/PluginsGenerationServiceTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

create and use script in package.json
  vscode/npm-package/package.json
  vscode/npm-package/scripts/copy-files.js
Due: .azure-pipelines/docker.yml

uninstall cpx
  vscode/npm-package/package.json
  vscode/package-lock.json
Due: .azure-pipelines/docker.yml

Chore: [Package] create copy files script (#6398)
  vscode/npm-package/package.json
  vscode/npm-package/scripts/copy-files.js
  vscode/package-lock.json
Due: .azure-pipelines/docker.yml

chore: bump version for release of version 1.25.1
  CHANGELOG.md
  src/Kiota.Builder/Kiota.Builder.csproj
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

update CLI csproj version
  src/kiota/kiota.csproj
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Chore: bump version for release of version 1.25.1 (#6400)
  CHANGELOG.md
  src/Kiota.Builder/Kiota.Builder.csproj
  src/kiota/kiota.csproj
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml
