Repository microsoft/kiota: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Path conditions:
  .azure-pipelines/ci-build.yml: any of: src, .azure-pipelines
  .azure-pipelines/docker.yml: any file but: abstractions, authentication, serialization, http, **.md, .vscode, **.svg

Refactor AuthExtensions and add tests
  src/Kiota.Builder/Extensions/AuthExtensions.cs
  tests/Kiota.Builder.Tests/Extensions/AuthExtensionsTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

create mapper for adaptive card information
  src/kiota/Rpc/AdaptiveCardInfo.cs
  src/kiota/Rpc/AdaptiveCardMapper.cs
  src/kiota/Rpc/PathItem.cs
  src/kiota/Rpc/Server.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

update api node to show the card
  vscode/npm-package/types.ts
Due: .azure-pipelines/docker.yml

Remove conditional compilation of the detection algorithm
  src/kiota/Extension/KiotaHostExtensions.cs
  tests/Kiota.Tests/Extension/KiotaHostExtensionsTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

return path directly as card
  src/kiota/Rpc/AdaptiveCardInfo.cs
  src/kiota/Rpc/AdaptiveCardMapper.cs
  vscode/npm-package/types.ts
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Fix conditional path check for homebrew & asdf
  src/kiota/Extension/KiotaHostExtensions.cs
  tests/Kiota.Tests/Extension/KiotaHostExtensionsTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Use env variables to determine asdf plugins dir
  src/kiota/Extension/KiotaHostExtensions.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Add test for customized asdf data dir
  tests/Kiota.Tests/Extension/KiotaHostExtensionsTests.cs
Due: .azure-pipelines/docker.yml

Fix test
  tests/Kiota.Tests/Extension/KiotaHostExtensionsTests.cs
Due: .azure-pipelines/docker.yml

format code
  src/kiota/Rpc/AdaptiveCardMapper.cs
  src/kiota/Rpc/Server.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Refactor EnsureSecuritySchemeExtensions
  src/Kiota.Builder/Plugins/PluginsGenerationService.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Fix dotnet format errors
  src/Kiota.Builder/Plugins/PluginsGenerationService.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

docs: updates outdated net version
  vscode/microsoft-kiota/debugging.md
Due: .azure-pipelines/docker.yml

Revert "Use socket connection for RPC messages (#6282)"
  vscode/microsoft-kiota/package-lock.json
  vscode/microsoft-kiota/package.json
  vscode/microsoft-kiota/src/kiotaInterop/connect.ts
Due: .azure-pipelines/docker.yml

fix: restores default export after bad revert
  vscode/microsoft-kiota/src/kiotaInterop/connect.ts
Due: .azure-pipelines/docker.yml

chore: bumps patch version
  src/Kiota.Builder/Kiota.Builder.csproj
  src/kiota/kiota.csproj
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

docs: adds a changelog entry for the patch version
  CHANGELOG.md
Due: none

Restore launch.json
  .vscode/launch.json
  src/openapi.json
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

remove unused imports
  src/kiota/Rpc/AdaptiveCardInfo.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

add integration test
  vscode/npm-package/integration_tests/integrationGetKiotaTree.spec.ts
Due: .azure-pipelines/docker.yml

Task: add adaptivecard info (#6353)
  src/kiota/Rpc/AdaptiveCardInfo.cs
  src/kiota/Rpc/AdaptiveCardMapper.cs
  src/kiota/Rpc/PathItem.cs
  src/kiota/Rpc/Server.cs
  vscode/npm-package/integration_tests/integrationGetKiotaTree.spec.ts
  vscode/npm-package/types.ts
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

add release step
  .github/workflows/build-vscode-extension.yml
Due: .azure-pipelines/docker.yml

re-enable integration tests
  vscode/npm-package/package.json
Due: .azure-pipelines/docker.yml

Add acquisition source info detection to kiota CLI (#6345)
  src/kiota/Extension/KiotaHostExtensions.cs
  src/kiota/Telemetry/TelemetryLabels.cs
  tests/Kiota.Tests/Extension/KiotaHostExtensionsTests.cs
  tests/Kiota.Tests/Kiota.Tests.csproj
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

use specific yaml file
  tests/Kiota.Builder.IntegrationTests/ModelWithAdaptiveCardExtension.yaml
  vscode/npm-package/integration_tests/integrationGetKiotaTree.spec.ts
Due: .azure-pipelines/docker.yml

Initial commit
  src/Kiota.Builder/OpenApiExtensions/OpenApiAiCapabilities.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

list items in folders
  .github/workflows/build-vscode-extension.yml
Due: .azure-pipelines/docker.yml

set working directory
  .github/workflows/build-vscode-extension.yml
Due: .azure-pipelines/docker.yml

Verify Publish Output Directory
  .github/workflows/build-vscode-extension.yml
Due: .azure-pipelines/docker.yml

change verification
  .github/workflows/build-vscode-extension.yml
Due: .azure-pipelines/docker.yml

change output directory
  .github/workflows/build-vscode-extension.yml
Due: .azure-pipelines/docker.yml

remove the v from the version
  .github/workflows/build-vscode-extension.yml
Due: .azure-pipelines/docker.yml

make the version a string
  .github/workflows/build-vscode-extension.yml
Due: .azure-pipelines/docker.yml

remove unnecessary nodes
  .github/workflows/build-vscode-extension.yml
  tests/Kiota.Builder.IntegrationTests/ModelWithSecurity.yaml
  vscode/npm-package/integration_tests/integrationGetPlugin.spec.ts
Due: .azure-pipelines/docker.yml

fix data_path in test file
  tests/Kiota.Builder.IntegrationTests/ModelWithAdaptiveCardExtension.yaml
Due: .azure-pipelines/docker.yml

change test file extensions
  tests/Kiota.Builder.IntegrationTests/PluginDiscriminatorSample.json
  tests/Kiota.Builder.IntegrationTests/PluginModelWithSecurity.json
  vscode/npm-package/integration_tests/integrationGetPlugin.spec.ts
Due: .azure-pipelines/docker.yml

change datapath
  tests/Kiota.Builder.IntegrationTests/ModelWithRefIdExtension.yaml
Due: .azure-pipelines/docker.yml

move test files to prevent bundling
  vscode/npm-package/jest.config.cjs
  vscode/npm-package/jest.config.integration.cjs
  vscode/npm-package/jest.config.unit.cjs
  vscode/npm-package/tests/integration/integrationGeneratePlugin.spec.ts
  vscode/npm-package/tests/integration/integrationGetKiotaTree.spec.ts
  vscode/npm-package/tests/integration/integrationGetKiotaVersion.spec.ts
  vscode/npm-package/tests/integration/integrationGetPlugin.spec.ts
  vscode/npm-package/tests/integration/integrationInstall.spec.ts
  vscode/npm-package/tests/integration/integrationLanguageInformation.spec.ts
  vscode/npm-package/tests/integration/setup.ts
  vscode/npm-package/tests/integration/teardown.ts
  vscode/npm-package/tests/unit/generateClient.spec.ts
  vscode/npm-package/tests/unit/generatePlugin.spec.ts
  vscode/npm-package/tests/unit/getKiotaTree.spec.ts
  vscode/npm-package/tests/unit/getKiotaVersion.spec.ts
  vscode/npm-package/tests/unit/getManifestDetails.spec.ts
  vscode/npm-package/tests/unit/languageInformation.spec.ts
  vscode/npm-package/tests/unit/migrateFromLockFile.spec.ts
  vscode/npm-package/tests/unit/removeItem.spec.ts
  vscode/npm-package/tests/unit/searchDescriptions.spec.ts
  vscode/npm-package/tests/unit/stubs.util.ts
  vscode/npm-package/tests/unit/updateClients.spec.ts
Due: .azure-pipelines/docker.yml

update jest configuration to use new integration test paths
  vscode/npm-package/jest.common.config.cjs
  vscode/npm-package/jest.config.cjs
Due: .azure-pipelines/docker.yml

Chore: run integration tests ci (#6361)
  .github/workflows/build-vscode-extension.yml
  tests/Kiota.Builder.IntegrationTests/ModelWithAdaptiveCardExtension.yaml
  tests/Kiota.Builder.IntegrationTests/ModelWithRefIdExtension.yaml
  tests/Kiota.Builder.IntegrationTests/PluginDiscriminatorSample.json
  tests/Kiota.Builder.IntegrationTests/PluginModelWithSecurity.json
  vscode/npm-package/jest.common.config.cjs
  vscode/npm-package/jest.config.cjs
  vscode/npm-package/jest.config.integration.cjs
  vscode/npm-package/jest.config.unit.cjs
  vscode/npm-package/package.json
  vscode/npm-package/tests/integration/integrationGeneratePlugin.spec.ts
  vscode/npm-package/tests/integration/integrationGetKiotaTree.spec.ts
  vscode/npm-package/tests/integration/integrationGetKiotaVersion.spec.ts
  vscode/npm-package/tests/integration/integrationGetPlugin.spec.ts
  vscode/npm-package/tests/integration/integrationInstall.spec.ts
  vscode/npm-package/tests/integration/integrationLanguageInformation.spec.ts
  vscode/npm-package/tests/integration/setup.ts
  vscode/npm-package/tests/integration/teardown.ts
  vscode/npm-package/tests/unit/generateClient.spec.ts
  vscode/npm-package/tests/unit/generatePlugin.spec.ts
  vscode/npm-package/tests/unit/getKiotaTree.spec.ts
  vscode/npm-package/tests/unit/getKiotaVersion.spec.ts
  vscode/npm-package/tests/unit/getManifestDetails.spec.ts
  vscode/npm-package/tests/unit/languageInformation.spec.ts
  vscode/npm-package/tests/unit/migrateFromLockFile.spec.ts
  vscode/npm-package/tests/unit/removeItem.spec.ts
  vscode/npm-package/tests/unit/searchDescriptions.spec.ts
  vscode/npm-package/tests/unit/stubs.util.ts
  vscode/npm-package/tests/unit/updateClients.spec.ts
Due: .azure-pipelines/docker.yml
