Repository microsoft/kiota: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Path conditions:
  .azure-pipelines/ci-build.yml: any of: src, .azure-pipelines
  .azure-pipelines/docker.yml: any file but: abstractions, authentication, serialization, http, **.md, .vscode, **.svg

fix: missing operation path parameters when building uri template
  src/Kiota.Builder/Extensions/OpenApiUrlTreeNodeExtensions.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

fix: indexer parameter type
  src/Kiota.Builder/KiotaBuilder.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

fix: test definition
  tests/Kiota.Builder.Tests/KiotaBuilderTests.cs
Due: .azure-pipelines/docker.yml

chore: typo fix
  src/kiota/Handlers/KiotaGitHubDeviceLoginCommandHandler.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: typo fix
  src/kiota/Handlers/KiotaGitHubLogoutCommandHandler.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

fix: merged schema class name
  src/Kiota.Builder/Extensions/OpenApiSchemaExtensions.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Revert " - bumps version for prerelease of 1.27.0"
  src/Kiota.Builder/Kiota.Builder.csproj
  src/kiota/kiota.csproj
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: bumps version for 1.26.1
  CHANGELOG.md
  src/Kiota.Builder/Kiota.Builder.csproj
  src/kiota/kiota.csproj
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: bumps pre-release for 1.27.0
  src/Kiota.Builder/Kiota.Builder.csproj
  src/kiota/kiota.csproj
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

fix: indexer type mapping
  src/Kiota.Builder/KiotaBuilder.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

fix: circular lookup for discriminator mappings
  src/Kiota.Builder/Extensions/OpenApiSchemaExtensions.cs
  tests/Kiota.Builder.Tests/KiotaBuilderTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: linting
  tests/Kiota.Builder.Tests/KiotaBuilderTests.cs
Due: .azure-pipelines/docker.yml

chore: upgrade oai.net to preview18
  src/Kiota.Builder/Kiota.Builder.csproj
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: removes inextising namespace reference
  src/Kiota.Builder/KiotaBuilder.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: upgrades MSE dependencies
  src/Kiota.Builder/Kiota.Builder.csproj
  src/kiota/kiota.csproj
  tests/Kiota.Builder.IntegrationTests/Kiota.Builder.IntegrationTests.csproj
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: upgrades threading to latest
  src/Kiota.Builder/Kiota.Builder.csproj
  src/kiota/kiota.csproj
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: upgrades azure OT exporter
  src/kiota/kiota.csproj
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: upgrades streamjson rpc
  src/kiota/kiota.csproj
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Contributing documentation for npm package
  vscode/npm-package/CONTRIBUTING.md
Due: .azure-pipelines/docker.yml

fix: a bug where a trailing slash in the path item lead to missing query parameters
  CHANGELOG.md
  src/Kiota.Builder/Extensions/OpenApiUrlTreeNodeExtensions.cs
  tests/Kiota.Builder.Tests/KiotaBuilderTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

fix: issue with lock migration and stream management
  CHANGELOG.md
  src/Kiota.Builder/OpenApiDocumentDownloadService.cs
  src/Kiota.Builder/WorkspaceManagement/WorkspaceManagementService.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

remove more spaces at the end
  src/Kiota.Builder/Writers/Go/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Go/CodePropertyWriter.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: bumps oai.net to preview19
  src/Kiota.Builder/Kiota.Builder.csproj
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

fix changelog
  CHANGELOG.md
Due: none

add integration test
  it/exec-cmd.ps1
Due: .azure-pipelines/docker.yml

simplify
  it/exec-cmd.ps1
Due: .azure-pipelines/docker.yml

fix: trailing slashes causing mayhem
  CHANGELOG.md
  src/Kiota.Builder/Extensions/OpenApiUrlTreeNodeExtensions.cs
  src/Kiota.Builder/KiotaBuilder.cs
  tests/Kiota.Builder.Tests/KiotaBuilderTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Update src/Kiota.Builder/Writers/Go/CodeEnumWriter.cs
  src/Kiota.Builder/Writers/Go/CodeEnumWriter.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

start fixing unit tests
  tests/Kiota.Builder.Tests/Writers/Go/CodeMethodWriterTests.cs
Due: .azure-pipelines/docker.yml

fix unit tests
  tests/Kiota.Builder.Tests/Writers/Go/CodeMethodWriterTests.cs
Due: .azure-pipelines/docker.yml

chore: update debugging instructions for clarity and consistency
  vscode/microsoft-kiota/debugging.md
Due: .azure-pipelines/docker.yml

add debugging instructions for the Kiota npm package
  vscode/npm-package/CONTRIBUTING.md
  vscode/npm-package/debugging.md
Due: .azure-pipelines/docker.yml

chore: upgrades oai.net to preview 20
  src/Kiota.Builder/Kiota.Builder.csproj
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

fix: converts to await block to get the actual call stack when exceptions are encountered
  src/Kiota.Builder/OpenApiDocumentDownloadService.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

fix: path management in unit test definition
  tests/Kiota.Builder.Tests/KiotaBuilderTests.cs
Due: .azure-pipelines/docker.yml

chore: do not use path combine with GetTempFileName as it already is the full path
  tests/Kiota.Builder.Tests/Export/PublicAPIExportServiceTests.cs
  tests/Kiota.Builder.Tests/KiotaBuilderTests.cs
  tests/Kiota.Builder.Tests/PathSegmenters/HttpPathSegmenterTests.cs
  tests/Kiota.Builder.Tests/Refiners/GoLanguageRefinerTests.cs
  tests/Kiota.Builder.Tests/Refiners/TypeScriptLanguageRefinerTests.cs
  tests/Kiota.Builder.Tests/Writers/TypeScript/CodeFunctionWriterTests.cs
Due: .azure-pipelines/docker.yml

chore: formatting
  tests/Kiota.Builder.Tests/Export/PublicAPIExportServiceTests.cs
Due: .azure-pipelines/docker.yml

ci: fixes test definition due to new nullability updates
  vscode/npm-package/tests/integration/integrationGeneratePlugin.spec.ts
Due: .azure-pipelines/docker.yml

chore: replaces kiota deps by bundle
  it/csharp/basic/basic.csproj
Due: .azure-pipelines/docker.yml

chore: updates test dependencies for csharp integration test
  it/csharp/basic/basic.csproj
Due: .azure-pipelines/docker.yml
