Repository microsoft/kiota: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

.azure-pipelines/ci-build.yml:
  schedules:
  - cron: 0 18 * * 4
    displayName: Weekly build
    branches:
      include:
      - main
    always: true
  stages:
  - stage: BuildImage
    displayName: Build Docker Image
  ...

.azure-pipelines/docker.yml:
  name: $(BuildDefinitionName)-$(Date:yyyyMMdd)
  schedules:
  - cron: 0 18 * * 4
    displayName: Weekly preview
    branches:
      include:
      - main
    always: true
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      sdl:
        sourceAnalysisPool:
  ...

fix: adds http language to vscode extension
  vscode/npm-package/types.ts
Due: .azure-pipelines/docker.yml

chore: adds missing language for unit test
  vscode/microsoft-kiota/src/test/suite/commands/generateClientCommand.test.ts
Due: .azure-pipelines/docker.yml

chore: reverts changes to lock file
  vscode/package-lock.json
Due: .azure-pipelines/docker.yml

ci: removes unecessary node install
  .azure-pipelines/ci-build.yml
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

ci: upgrades esrp release to the latest task
  .azure-pipelines/ci-build.yml
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Add Dependabot configuration for .NET SDK updates
  .github/dependabot.yml
Due: .azure-pipelines/docker.yml

ci: upgrades node task
  .azure-pipelines/ci-build.yml
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: updates package lock
  vscode/package-lock.json
Due: .azure-pipelines/docker.yml

chore: updates paths to npm packages following workspace fix
  .azure-pipelines/ci-build.yml
  .github/dependabot.yml
  .github/workflows/build-vscode-extension.yml
  scripts/check-translations.ps1
  scripts/execute-vscode-sideload.ps1
  src/Kiota.Builder/Resources/AdaptiveCardTemplate.json
  vscode/packages/microsoft-kiota/CONTRIBUTING.md
  vscode/packages/microsoft-kiota/README.md
  vscode/packages/microsoft-kiota/debugging.md
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

ci: adds missing build before package vscode
  .github/workflows/build-vscode-extension.yml
Due: .azure-pipelines/docker.yml

ci: fixes exclusin list
  vscode/packages/microsoft-kiota/.vscodeignore
Due: .azure-pipelines/docker.yml

ci: further excludes extraneous files
  vscode/packages/microsoft-kiota/.vscodeignore
Due: .azure-pipelines/docker.yml

fix: removes redundant additional data property definition in typescript
  CHANGELOG.md
  src/Kiota.Builder/Writers/TypeScript/CodePropertyWriter.cs
  tests/Kiota.Builder.Tests/Writers/TypeScript/CodePropertyWriterTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

fix: missing description for value parameter in typescript serialization methods
  CHANGELOG.md
  src/Kiota.Builder/Refiners/TypeScriptRefiner.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

draft: declare the TS parameter for derived serialization and pass it in base calls
  src/Kiota.Builder/CodeDOM/CodeParameter.cs
  src/Kiota.Builder/OrderComparers/BaseCodeParameterOrderComparer.cs
  src/Kiota.Builder/Refiners/TypeScriptRefiner.cs
  src/Kiota.Builder/Writers/TypeScript/CodeFunctionWriter.cs
  src/Kiota.Builder/Writers/TypeScript/TypeScriptConventionService.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

fix: base type serialization in typescript
  CHANGELOG.md
  src/Kiota.Builder/Writers/TypeScript/CodeFunctionWriter.cs
  tests/Kiota.Builder.Tests/Writers/TypeScript/CodeFunctionWriterTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: upgrades oai.net to latest preview
  src/Kiota.Builder/Kiota.Builder.csproj
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

fix: vscode types are an extension, not a global dependency
  vscode/package-lock.json
  vscode/package.json
  vscode/packages/microsoft-kiota/package.json
Due: .azure-pipelines/docker.yml

chore: updates engine to match dependency
  vscode/package-lock.json
  vscode/packages/microsoft-kiota/package.json
Due: .azure-pipelines/docker.yml

fix: missing import for serialization function in typescript
  src/Kiota.Builder/Refiners/TypeScriptRefiner.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

fix: missing imports for serialization in typescript
  src/Kiota.Builder/Refiners/TypeScriptRefiner.cs
  tests/Kiota.Builder.Tests/Refiners/TypeScriptLanguageRefinerTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: removes the CLI generation
  CHANGELOG.md
  src/Kiota.Builder/CodeDOM/CodeMethod.cs
  src/Kiota.Builder/Export/PublicAPIExportService.cs
  src/Kiota.Builder/GenerationLanguage.cs
  src/Kiota.Builder/KiotaBuilder.cs
  src/Kiota.Builder/Refiners/CSharpRefiner.cs
  src/Kiota.Builder/Refiners/CliRefiner.cs
  src/Kiota.Builder/Refiners/CliReservedClassNamesProvider.cs
  src/Kiota.Builder/Refiners/ILanguageRefiner.cs
  src/Kiota.Builder/Writers/CLI/CliCodeMethodWriter.cs
  src/Kiota.Builder/Writers/CLI/CliWriter.cs
  src/Kiota.Builder/Writers/LanguageWriter.cs
  src/kiota/appsettings.json
  tests/Kiota.Builder.Tests/KiotaBuilderTests.cs
  tests/Kiota.Builder.Tests/Refiners/CliRefinerTests.cs
  tests/Kiota.Builder.Tests/Writers/CLI/CliCodeMethodWriterTests.cs
  vscode/packages/microsoft-kiota/src/test/suite/commands/generateClientCommand.test.ts
  vscode/packages/microsoft-kiota/src/types/extensionSettings.ts
  vscode/packages/microsoft-kiota/src/util.ts
  vscode/packages/npm-package/types.ts
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

add overlays option
  src/Kiota.Builder/Configuration/GenerationConfiguration.cs
  src/Kiota.Builder/Kiota.Builder.csproj
  src/Kiota.Builder/OpenApiDocumentDownloadService.cs
  src/kiota/Handlers/Client/AddHandler.cs
  src/kiota/Handlers/Client/EditHandler.cs
  src/kiota/Handlers/KiotaGenerateCommandHandler.cs
  src/kiota/Handlers/Plugin/AddHandler.cs
  src/kiota/Handlers/Plugin/EditHandler.cs
  src/kiota/KiotaClientCommands.cs
  src/kiota/KiotaHost.cs
  src/kiota/KiotaPluginCommands.cs
  src/kiota/Rpc/IServer.cs
  src/kiota/Rpc/Server.cs
  vscode/packages/npm-package/lib/generateClient.ts
  vscode/packages/npm-package/lib/generatePlugin.ts
  vscode/packages/npm-package/types.ts
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: fixes failing unit test after removal of the CLI
  vscode/packages/npm-package/tests/integration/integrationLanguageInformation.spec.ts
Due: .azure-pipelines/docker.yml

docs: removes CLI from readme
  README.md
Due: none

fix: aliased imports in TS serialization
  src/Kiota.Builder/Writers/TypeScript/CodeFunctionWriter.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: removes unnecessary casting
  src/Kiota.Builder/Writers/TypeScript/CodeFunctionWriter.cs
  tests/Kiota.Builder.Tests/Writers/TypeScript/CodeFunctionWriterTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: removes swift
  .github/ISSUE_TEMPLATE/01-kiota-bug.yml
  .github/ISSUE_TEMPLATE/02-kiota-feature-request.yml
  .github/workflows/project-auto-add.yml
  .vscode/launch.json
  CHANGELOG.md
  README.md
  abstractions/README.md
  specs/cli/info.md
  src/Kiota.Builder/Configuration/GenerationConfiguration.cs
  src/Kiota.Builder/Export/PublicAPIExportService.cs
  src/Kiota.Builder/GenerationLanguage.cs
  src/Kiota.Builder/PathSegmenters/SwiftPathSegmenter.cs
  src/Kiota.Builder/Refiners/ILanguageRefiner.cs
  src/Kiota.Builder/Refiners/SwiftRefiner.cs
  src/Kiota.Builder/Refiners/SwiftReservedNamesProvider.cs
  src/Kiota.Builder/Writers/LanguageWriter.cs
  src/Kiota.Builder/Writers/Swift/CodeBlockEndWriter.cs
  src/Kiota.Builder/Writers/Swift/CodeClassDeclarationWriter.cs
  src/Kiota.Builder/Writers/Swift/CodeEnumWriter.cs
  src/Kiota.Builder/Writers/Swift/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Swift/CodeNamespaceWriter.cs
  src/Kiota.Builder/Writers/Swift/CodePropertyWriter.cs
  src/Kiota.Builder/Writers/Swift/CodeProprietableBlockDeclarationWriter.cs
  src/Kiota.Builder/Writers/Swift/SwiftConventionService.cs
  src/Kiota.Builder/Writers/Swift/SwiftWriter.cs
  src/kiota/appsettings.json
  tests/Kiota.Builder.IntegrationTests/GenerateSample.cs
  vscode/packages/microsoft-kiota/src/test/suite/commands/generateClientCommand.test.ts
  vscode/packages/microsoft-kiota/src/types/extensionSettings.ts
  vscode/packages/microsoft-kiota/src/util.ts
  vscode/packages/npm-package/types.ts
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

feat: upgrades to oai.net GA
  src/Kiota.Builder/Kiota.Builder.csproj
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: aligns vscode version with dependency
  vscode/packages/microsoft-kiota/package.json
Due: .azure-pipelines/docker.yml

chore: bumps version for release of 1.28.0
  CHANGELOG.md
Due: none

chore: bumps preview version for 1.29.0
  src/Kiota.Builder/Kiota.Builder.csproj
  src/kiota/kiota.csproj
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Path conditions:
  .azure-pipelines/ci-build.yml: any of: src, .azure-pipelines
  .azure-pipelines/docker.yml: any file but: abstractions, authentication, serialization, http, **.md, .vscode, **.svg
