Repository microsoft/kiota: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Path conditions:
  .azure-pipelines/ci-build.yml: any of: src, .azure-pipelines
  .azure-pipelines/docker.yml: any file but: abstractions, authentication, serialization, http, **.md, .vscode, **.svg

chore: upgrades oai.net to preview 21
  src/Kiota.Builder/Kiota.Builder.csproj
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

fix: nodes merging not happening because of null values
  src/Kiota.Builder/Extensions/OpenApiUrlTreeNodeExtensions.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: upgrades java it deps
  it/java/basic/pom.xml
  it/java/gh/pom.xml
  it/java/pom.xml
  it/java/query-params/pom.xml
Due: .azure-pipelines/docker.yml

fix: indexer parameter lookup when merging nodes
  src/Kiota.Builder/Constants.cs
  src/Kiota.Builder/Extensions/OpenApiUrlTreeNodeExtensions.cs
  src/Kiota.Builder/KiotaBuilder.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore/upgrade oainet (#6481)
  CHANGELOG.md
  src/Kiota.Builder/Constants.cs
  src/Kiota.Builder/Extensions/OpenApiDeprecationExtensionExtensions.cs
  src/Kiota.Builder/Extensions/OpenApiSchemaExtensions.cs
  src/Kiota.Builder/Extensions/OpenApiUrlTreeNodeExtensions.cs
  src/Kiota.Builder/Kiota.Builder.csproj
  src/Kiota.Builder/KiotaBuilder.cs
  src/Kiota.Builder/OpenApiDocumentDownloadService.cs
  src/Kiota.Builder/Plugins/PluginsGenerationService.cs
  src/Kiota.Builder/Validation/NoContentWithBody.cs
  src/Kiota.Builder/Validation/OpenApiSchemaComparer.cs
  src/kiota/Handlers/KiotaGitHubDeviceLoginCommandHandler.cs
  src/kiota/Handlers/KiotaGitHubLogoutCommandHandler.cs
  tests/Kiota.Builder.Tests/ContentTypeMappingTests.cs
  tests/Kiota.Builder.Tests/Export/PublicAPIExportServiceTests.cs
  tests/Kiota.Builder.Tests/Extensions/OpenApiResponsesExtensionsTests.cs
  tests/Kiota.Builder.Tests/Extensions/OpenApiSchemaExtensionsTests.cs
  tests/Kiota.Builder.Tests/Extensions/OpenApiUrlTreeNodeExtensionsTests.cs
  tests/Kiota.Builder.Tests/FakeLogger.cs
  tests/Kiota.Builder.Tests/KiotaBuilderTests.cs
  tests/Kiota.Builder.Tests/PathSegmenters/HttpPathSegmenterTests.cs
  tests/Kiota.Builder.Tests/Plugins/PluginsGenerationServiceTests.cs
  tests/Kiota.Builder.Tests/Refiners/GoLanguageRefinerTests.cs
  tests/Kiota.Builder.Tests/Refiners/TypeScriptLanguageRefinerTests.cs
  tests/Kiota.Builder.Tests/Validation/OpenApiSchemaComparerTests.cs
  tests/Kiota.Builder.Tests/Writers/TypeScript/CodeFunctionWriterTests.cs
  vscode/npm-package/tests/integration/integrationGeneratePlugin.spec.ts
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Fix typo
  src/Kiota.Builder/Validation/MissingDiscriminator.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Chore: update debugging docs (#6578)
  vscode/microsoft-kiota/debugging.md
  vscode/npm-package/CONTRIBUTING.md
  vscode/npm-package/debugging.md
Due: .azure-pipelines/docker.yml

Fix typo (#6584)
  src/Kiota.Builder/Validation/MissingDiscriminator.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: upgrades dotnet test sdk dependencies
  tests/Kiota.Builder.IntegrationTests/Kiota.Builder.IntegrationTests.csproj
  tests/Kiota.Builder.Tests/Kiota.Builder.Tests.csproj
  tests/Kiota.Tests/Kiota.Tests.csproj
Due: .azure-pipelines/docker.yml

fix: ts client creation
  CHANGELOG.md
  src/Kiota.Builder/Writers/TypeScript/CodeFunctionWriter.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

fix: a bug where media type from error responses would be missing
  CHANGELOG.md
  src/Kiota.Builder/Extensions/OpenApiResponsesExtensions.cs
  src/Kiota.Builder/KiotaBuilder.cs
  tests/Kiota.Builder.Tests/ContentTypeMappingTests.cs
  tests/Kiota.Builder.Tests/Extensions/OpenApiResponsesExtensionsTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: formatting
  src/Kiota.Builder/Extensions/OpenApiDeprecationExtensionExtensions.cs
  src/Kiota.Builder/KiotaBuilder.cs
  src/Kiota.Builder/Plugins/PluginsGenerationService.cs
  tests/Kiota.Builder.Tests/Validation/DivergentResponseSchemaTests.cs
  tests/Kiota.Builder.Tests/Validation/GetWithBodyTests.cs
  tests/Kiota.Builder.Tests/Validation/InconsistentTypeFormatPairTests.cs
  tests/Kiota.Builder.Tests/Validation/MissingDiscriminatorTests.cs
  tests/Kiota.Builder.Tests/Validation/MultipleServerEntriesTests.cs
  tests/Kiota.Builder.Tests/Validation/NoContentWithBodyTests.cs
  tests/Kiota.Builder.Tests/Validation/NoServerEntryTests.cs
  tests/Kiota.Builder.Tests/Validation/UrlFormEncodedComplexTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

fix: don't overwrite serialization names if it is already set
  src/Kiota.Builder/Refiners/DartRefiner.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

test: added test to ensure already set serialization names are not overwritten
  tests/Kiota.Builder.Tests/Refiners/DartLanguageRefinerTests.cs
Due: .azure-pipelines/docker.yml

docs: updated changelog
  CHANGELOG.md
Due: none

Added enum body case for request generator body
  src/Kiota.Builder/Writers/CSharp/CodeMethodWriter.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Use the chiseled-extras image so imports of __future__ are first.
  Dockerfile
Due: .azure-pipelines/docker.yml

update changelog
  CHANGELOG.md
Due: none

typo
  CHANGELOG.md
Due: none

Use the chiseled-extras image so imports of __future__ are first. (#6633)
  CHANGELOG.md
  Dockerfile
Due: .azure-pipelines/docker.yml

fix: adds docker image caching to avoid throttling fix: aligns to using powershell core
  .azure-pipelines/ci-build.yml
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

feat: upgrades openapi.net.odata to the latest version
  src/Kiota.Builder/Kiota.Builder.csproj
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: upgrades dotnet dependencies
  src/Kiota.Builder/Kiota.Builder.csproj
  src/kiota/kiota.csproj
  tests/Kiota.Builder.IntegrationTests/Kiota.Builder.IntegrationTests.csproj
  tests/Kiota.Builder.Tests/Kiota.Builder.Tests.csproj
  tests/Kiota.Tests/Kiota.Tests.csproj
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: prepares release notes for 1.27.0
  CHANGELOG.md
Due: none

chore: bumps preview version
  src/Kiota.Builder/Kiota.Builder.csproj
  src/kiota/kiota.csproj
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

fix: support for languages which do not define the inner classes inside the same class
  src/Kiota.Builder/Refiners/CSharpRefiner.cs
  src/Kiota.Builder/Refiners/CommonLanguageRefiner.cs
  src/Kiota.Builder/Refiners/JavaRefiner.cs
  src/Kiota.Builder/Refiners/PythonRefiner.cs
  src/Kiota.Builder/Refiners/TypeScriptRefiner.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Python: Set a default value for non-nullable array fields
  CHANGELOG.md
  src/Kiota.Builder/Refiners/PythonRefiner.cs
  src/Kiota.Builder/Writers/Python/CodePropertyWriter.cs
  tests/Kiota.Builder.Tests/Refiners/PythonLanguageRefinerTests.cs
  tests/Kiota.Builder.Tests/Writers/Python/CodePropertyWriterTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Fix changelog location and add comments explaining the code.
  CHANGELOG.md
  src/Kiota.Builder/Refiners/PythonRefiner.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: missing updates
  src/Kiota.Builder/Refiners/DartRefiner.cs
  src/Kiota.Builder/Refiners/GoRefiner.cs
  src/Kiota.Builder/Refiners/PhpRefiner.cs
  src/Kiota.Builder/Refiners/RubyRefiner.cs
  src/Kiota.Builder/Refiners/SwiftRefiner.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Added test for RequestGenerator for enum
  tests/Kiota.Builder.Tests/Writers/CSharp/CodeMethodWriterTests.cs
Due: .azure-pipelines/docker.yml

Added case and test for UntypedNode in request generator body
  src/Kiota.Builder/Writers/CSharp/CodeMethodWriter.cs
  tests/Kiota.Builder.Tests/Writers/CSharp/CodeMethodWriterTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Update CHANGELOG.md
  CHANGELOG.md
Due: none

docs: moves changelog entry
  CHANGELOG.md
Due: none

chore: formatting
  src/Kiota.Builder/Writers/CSharp/CodeMethodWriter.cs
  tests/Kiota.Builder.Tests/Writers/CSharp/CodeMethodWriterTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

feat: Added enum body case for request generator body (#6626)
  CHANGELOG.md
  src/Kiota.Builder/Writers/CSharp/CodeMethodWriter.cs
  tests/Kiota.Builder.Tests/Writers/CSharp/CodeMethodWriterTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: aligns oai.net versions
  src/Kiota.Builder/Kiota.Builder.csproj
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: typo
  src/Kiota.Builder/Kiota.Builder.csproj
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

fix: union of collection of primitive types in dotnet
  CHANGELOG.md
  src/Kiota.Builder/Writers/CSharp/CodeMethodWriter.cs
  tests/Kiota.Builder.Tests/Writers/CSharp/CodeMethodWriterTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: adds missing language for unit test
  vscode/microsoft-kiota/src/types/extensionSettings.ts
Due: .azure-pipelines/docker.yml
