Repository microsoft/kiota: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

.azure-pipelines/ci-build.yml:
  schedules:
  - cron: 0 18 * * 4
    displayName: Weekly build
    branches:
      include:
      - main
    always: true
  stages:
  - stage: BuildImage
    displayName: Build Docker Image
  ...

.azure-pipelines/docker.yml:
  name: $(BuildDefinitionName)-$(Date:yyyyMMdd)
  schedules:
  - cron: 0 18 * * 4
    displayName: Weekly preview
    branches:
      include:
      - main
    always: true
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      sdl:
        sourceAnalysisPool:
  ...

fix test
  vscode/npm-package/tests/generatePlugin.spec.ts
Due: .azure-pipelines/docker.yml

- bumps version for release of 1.24.0
  CHANGELOG.md
Due: none

initialise binary file location
  vscode/microsoft-kiota/package-lock.json
  vscode/microsoft-kiota/package.json
  vscode/microsoft-kiota/src/extension.ts
  vscode/microsoft-kiota/src/kiotaInterop/config.ts
  vscode/microsoft-kiota/src/kiotaInterop/index.ts
  vscode/microsoft-kiota/src/kiotaInterop/install.ts
Due: .azure-pipelines/docker.yml

- bumps version for prerelease of 1.25.0
  src/Kiota.Builder/Kiota.Builder.csproj
  src/kiota/kiota.csproj
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

fix downloading
  vscode/microsoft-kiota/package-lock.json
  vscode/microsoft-kiota/package.json
  vscode/microsoft-kiota/src/kiotaInterop/install.ts
Due: .azure-pipelines/docker.yml

chore: fix intergration test argument passing
  .github/workflows/idempotency-tests.yml
  .github/workflows/integration-tests.yml
  it/compare-generation.ps1
  it/generate-code.ps1
  it/get-additional-arguments.ps1
Due: .azure-pipelines/docker.yml

ci: removes unnecessary failing step in docker release
  .azure-pipelines/ci-build.yml
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: bumps version for release
  CHANGELOG.md
  src/Kiota.Builder/Kiota.Builder.csproj
  src/kiota/kiota.csproj
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Task: minimise function requirements (#6276)
  vscode/npm-package/lib/generateClient.ts
  vscode/npm-package/lib/generatePlugin.ts
  vscode/npm-package/lib/getKiotaTree.ts
  vscode/npm-package/lib/getManifestDetails.ts
  vscode/npm-package/tests/generatePlugin.spec.ts
Due: .azure-pipelines/docker.yml

- bumps version for prerelease of 1.25.0 (#6262)
  src/Kiota.Builder/Kiota.Builder.csproj
  src/kiota/kiota.csproj
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

rename clientClassName to pluginName when generating plugins
  vscode/microsoft-kiota/src/commands/generate/generateClientCommand.ts
  vscode/microsoft-kiota/src/commands/regenerate/regenerate.service.ts
Due: .azure-pipelines/docker.yml

Add debug capability in VSCode and initial integration tests
  vscode/.gitignore
  vscode/npm-package/.vscode/launch.json
  vscode/npm-package/integration_tests/integrationGetKiotaVersion.spec.ts
  vscode/npm-package/integration_tests/integrationLanguageInformation.spec.ts
  vscode/npm-package/tests/generateClient.spec.ts
  vscode/npm-package/tests/generatePlugin.spec.ts
  vscode/npm-package/tests/getKiotaTree.spec.ts
  vscode/npm-package/tests/getKiotaVersion.spec.ts
  vscode/npm-package/tests/getManifestDetails.spec.ts
  vscode/npm-package/tests/languageInformation.spec.ts
  vscode/npm-package/tests/migrateFromLockFile.spec.ts
  vscode/npm-package/tests/removeItem.spec.ts
  vscode/npm-package/tests/searchDescriptions.spec.ts
  vscode/npm-package/tests/updateClients.spec.ts
Due: .azure-pipelines/docker.yml

Use socket connection for RPC messages
  vscode/microsoft-kiota/src/kiotaInterop/index.ts
Due: .azure-pipelines/docker.yml

Remove console from available logging providers Revert extension to use stdio for RPC communication
  vscode/microsoft-kiota/src/kiotaInterop/index.ts
Due: .azure-pipelines/docker.yml

Fix pipe name in linux Update pipe name to include the extension id
  vscode/microsoft-kiota/src/kiotaInterop/index.ts
Due: .azure-pipelines/docker.yml

Remove windows prefix from named pipes connection
  vscode/microsoft-kiota/src/kiotaInterop/index.ts
Due: .azure-pipelines/docker.yml

feat: upgrades required go version from go1.18 to go 1.22
  it/go/go.mod
  it/go/go.sum
Due: .azure-pipelines/docker.yml

feat: upgrades required go version from go1.18 to go 1.22
  it/go/basic/go.mod
  it/go/basic/go.sum
Due: .azure-pipelines/docker.yml

ci: bumps go version in CI
  .github/workflows/integration-tests.yml
Due: .azure-pipelines/docker.yml

Get HTTP client from DI container
  src/kiota/CliOverrides.cs
  src/kiota/Extension/KiotaHostExtensions.cs
  src/kiota/Handlers/BaseKiotaCommandHandler.cs
  src/kiota/Handlers/Client/AddHandler.cs
  src/kiota/Handlers/Client/EditHandler.cs
  src/kiota/Handlers/Client/GenerateHandler.cs
  src/kiota/Handlers/Client/RemoveHandler.cs
  src/kiota/Handlers/KiotaDownloadCommandHandler.cs
  src/kiota/Handlers/KiotaGenerateCommandHandler.cs
  src/kiota/Handlers/KiotaGitHubDeviceLoginCommandHanlder.cs
  src/kiota/Handlers/KiotaGitHubLogoutCommandhandler.cs
  src/kiota/Handlers/KiotaGitHubPatLoginCommandHandler.cs
  src/kiota/Handlers/KiotaInfoCommandHandler.cs
  src/kiota/Handlers/KiotaSeachBasedCommandHandler.cs
  src/kiota/Handlers/KiotaSearchCommandHandler.cs
  src/kiota/Handlers/KiotaShowCommandHandler.cs
  src/kiota/Handlers/KiotaUpdateCommandHandler.cs
  src/kiota/Handlers/Plugin/AddHandler.cs
  src/kiota/Handlers/Plugin/EditHandler.cs
  src/kiota/Handlers/Plugin/GenerateHandler.cs
  src/kiota/Handlers/Plugin/RemoveHandler.cs
  src/kiota/Handlers/Workspace/MigrateHandler.cs
  src/kiota/KiotaHost.cs
  src/kiota/Program.cs
  src/kiota/ServiceConstants.cs
  src/kiota/appsettings.json
  src/kiota/kiota.csproj
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Close input stream in rpc connection
  vscode/npm-package/connect.ts
Due: .azure-pipelines/docker.yml

setup integration tests and ability to run unit and/or integration tests
  vscode/npm-package/integration_tests/setup.ts
  vscode/npm-package/integration_tests/teardown.ts
  vscode/npm-package/jest.common.config.cjs
  vscode/npm-package/jest.config.cjs
  vscode/npm-package/jest.config.integration.cjs
  vscode/npm-package/jest.config.unit.cjs
  vscode/npm-package/package.json
Due: .azure-pipelines/docker.yml

download and install integration test
  vscode/npm-package/install.ts
  vscode/npm-package/integration_tests/integrationInstall.spec.ts
Due: .azure-pipelines/docker.yml

Get generation configuration from DI container
  src/kiota/CliOverrides.cs
  src/kiota/Extension/KiotaHostExtensions.cs
  src/kiota/Handlers/BaseKiotaCommandHandler.cs
  src/kiota/Handlers/Client/AddHandler.cs
  src/kiota/Handlers/Client/EditHandler.cs
  src/kiota/Handlers/Client/GenerateHandler.cs
  src/kiota/Handlers/Client/RemoveHandler.cs
  src/kiota/Handlers/KiotaDownloadCommandHandler.cs
  src/kiota/Handlers/KiotaGenerateCommandHandler.cs
  src/kiota/Handlers/KiotaGitHubDeviceLoginCommandHanlder.cs
  src/kiota/Handlers/KiotaGitHubLogoutCommandhandler.cs
  src/kiota/Handlers/KiotaGitHubPatLoginCommandHandler.cs
  src/kiota/Handlers/KiotaInfoCommandHandler.cs
  src/kiota/Handlers/KiotaSeachBasedCommandHandler.cs
  src/kiota/Handlers/KiotaSearchCommandHandler.cs
  src/kiota/Handlers/KiotaShowCommandHandler.cs
  src/kiota/Handlers/KiotaUpdateCommandHandler.cs
  src/kiota/Handlers/Plugin/AddHandler.cs
  src/kiota/Handlers/Plugin/EditHandler.cs
  src/kiota/Handlers/Plugin/GenerateHandler.cs
  src/kiota/Handlers/Plugin/RemoveHandler.cs
  src/kiota/Handlers/Workspace/InitHandler.cs
  src/kiota/KiotaHost.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Add adaptive card OpenAPI extension
  src/Kiota.Builder/OpenApiExtensions/OpenApiAdaptiveCardExtension.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Register the extension
  src/Kiota.Builder/Extensions/OpenApiSettingsExtensions.cs
  src/Kiota.Builder/OpenApiExtensions/OpenApiAiAdaptiveCardExtension.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Update adaptive card extension
  src/Kiota.Builder/OpenApiExtensions/OpenApiAiAdaptiveCardExtension.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Update plugin generation service to write function capabilities
  src/Kiota.Builder/Plugins/PluginsGenerationService.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Add adaptive card tests
  tests/Kiota.Builder.Tests/OpenApiExtensions/OpenApiAiAdaptiveCardExtensionTests.cs
Due: .azure-pipelines/docker.yml

Add tests for plugin generation with adaptive card
  src/Kiota.Builder/Plugins/PluginsGenerationService.cs
  tests/Kiota.Builder.Tests/Plugins/PluginsGenerationServiceTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Task: Update info object
  src/kiota/appsettings.json
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Fix formatting
  src/Kiota.Builder/OpenApiExtensions/OpenApiAiAdaptiveCardExtension.cs
  tests/Kiota.Builder.Tests/OpenApiExtensions/OpenApiAiAdaptiveCardExtensionTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

add types/sinon
  vscode/microsoft-kiota/package.json
Due: .azure-pipelines/docker.yml

prepackage the tgz file
  .azure-pipelines/ci-build.yml
  .github/workflows/build-vscode-extension.yml
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

update the version in the npm-package package.json
  scripts/update-vscode-releases.ps1
Due: .azure-pipelines/docker.yml

use uuid in the pipe name instead of extension id
  vscode/microsoft-kiota/package-lock.json
  vscode/microsoft-kiota/package.json
  vscode/microsoft-kiota/src/kiotaInterop/index.ts
Due: .azure-pipelines/docker.yml

Use socket connection for RPC messages (#6282)
  vscode/microsoft-kiota/package-lock.json
  vscode/microsoft-kiota/package.json
  vscode/microsoft-kiota/src/kiotaInterop/index.ts
Due: .azure-pipelines/docker.yml

build npm package
  .azure-pipelines/ci-build.yml
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

add the tgz files to the github release job
  .azure-pipelines/ci-build.yml
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

include the pipeline artifact
  .azure-pipelines/ci-build.yml
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Path conditions:
  .azure-pipelines/ci-build.yml: any of: src, .azure-pipelines
  .azure-pipelines/docker.yml: any file but: abstractions, authentication, serialization, http, **.md, .vscode, **.svg
