Repository microsoft/kiota: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

.azure-pipelines/ci-build.yml:
  schedules:
  - cron: 0 18 * * 4
    displayName: Weekly build
    branches:
      include:
      - main
    always: true
  stages:
  - stage: BuildImage
    displayName: Build Docker Image
  ...

.azure-pipelines/docker.yml:
  name: $(BuildDefinitionName)-$(Date:yyyyMMdd)
  schedules:
  - cron: 0 18 * * 4
    displayName: Weekly preview
    branches:
      include:
      - main
    always: true
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      sdl:
        sourceAnalysisPool:
  ...

remove accidental unwanted changes
  src/kiota/Rpc/Server.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

EOLs again
  src/Kiota.Builder/CodeDOM/CodeMethod.cs
  src/Kiota.Builder/Extensions/OpenApiSchemaExtensions.cs
  src/Kiota.Builder/KiotaBuilder.cs
  src/Kiota.Builder/Lock/KiotaLock.cs
  src/Kiota.Builder/PathSegmenters/GoPathSegmenter.cs
  src/Kiota.Builder/Plugins/PluginsGenerationService.cs
  src/Kiota.Builder/WorkspaceManagement/ApiClientConfiguration.cs
  src/Kiota.Builder/Writers/CSharp/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Dart/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Go/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Java/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Php/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Python/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Ruby/CodeMethodWriter.cs
  src/kiota/Extension/KiotaHostExtensions.cs
  tests/Kiota.Builder.Tests/Extensions/OpenApiUrlTreeNodeExtensionsTests.cs
  tests/Kiota.Builder.Tests/Plugins/PluginsGenerationServiceTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

- bumps version for release of 1.26.0
  CHANGELOG.md
  src/Kiota.Builder/Kiota.Builder.csproj
  src/kiota/kiota.csproj
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

change line endings
  src/Kiota.Builder/Kiota.Builder.csproj
  src/kiota/kiota.csproj
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

- bumps version for prerelease of 1.27.0
  src/Kiota.Builder/Kiota.Builder.csproj
  src/kiota/kiota.csproj
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Line breaks fix
  src/Kiota.Builder/CodeDOM/CodeMethod.cs
  src/Kiota.Builder/Extensions/OpenApiSchemaExtensions.cs
  src/Kiota.Builder/KiotaBuilder.cs
  src/Kiota.Builder/Lock/KiotaLock.cs
  src/Kiota.Builder/PathSegmenters/GoPathSegmenter.cs
  src/Kiota.Builder/WorkspaceManagement/ApiClientConfiguration.cs
  src/Kiota.Builder/Writers/CSharp/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Dart/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Go/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Java/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Php/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Python/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Ruby/CodeMethodWriter.cs
  src/kiota/Extension/KiotaHostExtensions.cs
  tests/Kiota.Builder.Tests/Extensions/OpenApiUrlTreeNodeExtensionsTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Support for generating and merging multiple API plugin manifests
  src/Kiota.Builder/Configuration/GenerationConfiguration.cs
  src/Kiota.Builder/KiotaBuilder.cs
  src/Kiota.Builder/OpenApiDocumentDownloadService.cs
  src/Kiota.Builder/Plugins/PluginsGenerationService.cs
  tests/Kiota.Builder.Tests/Plugins/PluginsGenerationServiceTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Minor code changes based on feedback, int->uint
  src/Kiota.Builder/KiotaBuilder.cs
  src/Kiota.Builder/Plugins/PluginsGenerationService.cs
  tests/Kiota.Builder.Tests/Plugins/PluginsGenerationServiceTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Minor changes to make OpenApiDocumentDownloadService internal and not public again. Fixed naming of GetManifestOutputPath()
  src/Kiota.Builder/KiotaBuilder.cs
  src/Kiota.Builder/OpenApiDocumentDownloadService.cs
  src/Kiota.Builder/Plugins/PluginsGenerationService.cs
  tests/Kiota.Builder.Tests/Plugins/PluginsGenerationServiceTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Fix formatting from VS. Setting the pluginsService.DownloadService in KiotaBuilder
  src/Kiota.Builder/KiotaBuilder.cs
  src/Kiota.Builder/Plugins/PluginsGenerationService.cs
  tests/Kiota.Builder.Tests/Plugins/PluginsGenerationServiceTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Rewrite to log openapi version as opposed to api version
  src/Kiota.Builder/KiotaBuilder.cs
  tests/Kiota.Builder.Tests/KiotaBuilderTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Contributing documentation for npm package
  vscode/npm-package/CONTRIBUTING.md
Due: .azure-pipelines/docker.yml

Add code to automatically add Setter-methods
  src/Kiota.Builder/Refiners/ALRefiner.cs
  src/Kiota.Builder/Writers/AL/ALVariableProvider.cs
  src/Kiota.Builder/Writers/AL/CodeClassExtensions.cs
  src/Kiota.Builder/Writers/AL/CodeMethodExtensions.cs
  src/Kiota.Builder/Writers/AL/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/AL/CodePropertyExtensions.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Initialize ID range
  src/Kiota.Builder/Writers/AL/ALObjectIdProvider.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

fix issue with new version of extension-telemetry
  vscode/microsoft-kiota/src/commands/deleteWorkspaceItem/deleteWorkspaceItemCommand.ts
  vscode/microsoft-kiota/src/commands/generate/generateClientCommand.ts
  vscode/microsoft-kiota/src/commands/openApidescription/searchOrOpenApiDescriptionCommand.ts
  vscode/microsoft-kiota/src/commands/regenerate/regenerate.service.ts
  vscode/microsoft-kiota/src/extension.ts
  vscode/microsoft-kiota/src/handlers/uriHandler.ts
  vscode/microsoft-kiota/src/test/suite/commands/generateClientCommand.test.ts
Due: .azure-pipelines/docker.yml

ci: reduces the number of required approvers in anticipation for team changes
  .github/policies/branch-protection.yml
Due: .azure-pipelines/docker.yml

Update CHANGELOG.md
  CHANGELOG.md
Due: none

feat: Allow schemas with additionalProperties to generate AdditionalData prop (#6454)
  CHANGELOG.md
  src/Kiota.Builder/KiotaBuilder.cs
  tests/Kiota.Builder.Tests/KiotaBuilderTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

fix: zeros out the hash for the runtimes for win-arm64
  vscode/npm-package/runtime.json
Due: .azure-pipelines/docker.yml

docs: adds a changelog entry for the win-arm64 support
  CHANGELOG.md
Due: none

fix: escape double quotes and line breaks on CSharp generation of default value of properties (#6473)
  CHANGELOG.md
  src/Kiota.Builder/Writers/CSharp/CodeMethodWriter.cs
  tests/Kiota.Builder.Tests/Writers/CSharp/CodeMethodWriterTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Skip download install tests for win-arm64
  vscode/npm-package/tests/integration/integrationInstall.spec.ts
Due: .azure-pipelines/docker.yml

skipping download tests for win-arm64
  vscode/npm-package/tests/integration/integrationInstall.spec.ts
Due: .azure-pipelines/docker.yml

Skip download tests for win-arm64 (#6559)
  vscode/npm-package/tests/integration/integrationInstall.spec.ts
Due: .azure-pipelines/docker.yml

Avoid encoding security scheme urls
  src/kiota/Rpc/SecuritySchemeMapper.cs
  tests/Kiota.Builder.IntegrationTests/ModelWithMultipleSecurityAndVariables.yaml
  tests/Kiota.Builder.IntegrationTests/ModelWithSecurityAndVariables.yaml
  vscode/npm-package/tests/integration/integrationGetKiotaTree.spec.ts
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

fix: Avoid encoding security scheme urls (#6558)
  src/kiota/Rpc/SecuritySchemeMapper.cs
  tests/Kiota.Builder.IntegrationTests/ModelWithMultipleSecurityAndVariables.yaml
  tests/Kiota.Builder.IntegrationTests/ModelWithSecurityAndVariables.yaml
  vscode/npm-package/tests/integration/integrationGetKiotaTree.spec.ts
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Support for adaptive card content for typespec scenario
  src/Kiota.Builder/OpenApiExtensions/OpenApiAiAdaptiveCardExtension.cs
  src/Kiota.Builder/Plugins/PluginsGenerationService.cs
  tests/Kiota.Builder.IntegrationTests/ModelWithAdaptiveCardExtension.yaml
  tests/Kiota.Builder.Tests/Plugins/PluginsGenerationServiceTests.cs
  vscode/npm-package/tests/integration/integrationGeneratePlugin.spec.ts
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: upgrades oai.net to preview 17
  src/Kiota.Builder/Extensions/OpenApiDeprecationExtensionExtensions.cs
  src/Kiota.Builder/Extensions/OpenApiSchemaExtensions.cs
  src/Kiota.Builder/Extensions/OpenApiUrlTreeNodeExtensions.cs
  src/Kiota.Builder/Kiota.Builder.csproj
  src/Kiota.Builder/KiotaBuilder.cs
  src/Kiota.Builder/Plugins/PluginsGenerationService.cs
  src/Kiota.Builder/Validation/NoContentWithBody.cs
  src/Kiota.Builder/Validation/OpenApiSchemaComparer.cs
  tests/Kiota.Builder.Tests/Extensions/OpenApiSchemaExtensionsTests.cs
  tests/Kiota.Builder.Tests/FakeLogger.cs
  tests/Kiota.Builder.Tests/KiotaBuilderTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: fixes bad collection initialization syntax in tests
  tests/Kiota.Builder.Tests/ContentTypeMappingTests.cs
  tests/Kiota.Builder.Tests/Extensions/OpenApiUrlTreeNodeExtensionsTests.cs
  tests/Kiota.Builder.Tests/KiotaBuilderTests.cs
Due: .azure-pipelines/docker.yml

chore: further collection initialization fixes
  tests/Kiota.Builder.Tests/Extensions/OpenApiUrlTreeNodeExtensionsTests.cs
  tests/Kiota.Builder.Tests/KiotaBuilderTests.cs
Due: .azure-pipelines/docker.yml

chore: code linting
  src/Kiota.Builder/Extensions/OpenApiUrlTreeNodeExtensions.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

fix: a bug where operation query parameters would be missing
  src/Kiota.Builder/KiotaBuilder.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: fixes ill-defined unit tests
  tests/Kiota.Builder.Tests/Plugins/PluginsGenerationServiceTests.cs
  tests/Kiota.Builder.Tests/Validation/OpenApiSchemaComparerTests.cs
Due: .azure-pipelines/docker.yml

fix: partial discriminator mapping
  src/Kiota.Builder/Extensions/OpenApiSchemaExtensions.cs
  tests/Kiota.Builder.Tests/KiotaBuilderTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

fix: missing value for unit tests
  tests/Kiota.Builder.Tests/Extensions/OpenApiResponsesExtensionsTests.cs
Due: .azure-pipelines/docker.yml

fix: url parameter templating
  src/Kiota.Builder/Extensions/OpenApiUrlTreeNodeExtensions.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

fix: null reference exception
  src/Kiota.Builder/KiotaBuilder.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Path conditions:
  .azure-pipelines/ci-build.yml: any of: src, .azure-pipelines
  .azure-pipelines/docker.yml: any file but: abstractions, authentication, serialization, http, **.md, .vscode, **.svg
