Repository microsoft/kiota: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Path conditions:
  .azure-pipelines/ci-build.yml: any of: src, .azure-pipelines
  .azure-pipelines/docker.yml: any file but: abstractions, authentication, serialization, http, **.md, .vscode, **.svg

- bumps version for release of 1.29.0
  CHANGELOG.md
  src/Kiota.Builder/Kiota.Builder.csproj
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

revert unnecessary change
  src/Kiota.Builder/Kiota.Builder.csproj
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

- bumps version for prerelease of 1.30.0
  src/Kiota.Builder/Kiota.Builder.csproj
  src/kiota/kiota.csproj
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

revert crlf change
  src/Kiota.Builder/Kiota.Builder.csproj
  src/kiota/kiota.csproj
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: updates other extensions dependencies to align things
  src/kiota/kiota.csproj
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

fix: filter out json null sentinel value for defaults
  src/Kiota.Builder/KiotaBuilder.cs
  tests/Kiota.Builder.Tests/KiotaBuilderTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

fix: clean up leading underscores in symbol names and add related tests (#7021)
  src/Kiota.Builder/Extensions/StringExtensions.cs
  src/Kiota.Builder/Writers/TypeScript/CodeFunctionWriter.cs
  tests/Kiota.Builder.Tests/Extensions/StringExtensionsTests.cs
  tests/Kiota.Builder.Tests/Writers/TypeScript/CodeFunctionWriterTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

fix: oneOf deserialization ordering for TypeScript with inheritance hierarchy (#7033)
  CHANGELOG.md
  src/Kiota.Builder/Writers/TypeScript/CodeFunctionWriter.cs
  tests/Kiota.Builder.Tests/Writers/TypeScript/CodeFunctionWriterTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

ci: switches auto-merge workflow to squash
  .github/workflows/auto-merge-dependabot.yml
Due: .azure-pipelines/docker.yml

ci: switches auto-merge workflow to squash (#7089)
  .github/workflows/auto-merge-dependabot.yml
Due: .azure-pipelines/docker.yml

feat: adds support for openapi 3.2.0
  src/Kiota.Builder/Configuration/LanguagesInformation.cs
  src/Kiota.Builder/Extensions/OpenApiOperationExtensions.cs
  src/Kiota.Builder/Kiota.Builder.csproj
  src/Kiota.Builder/LanguageInformation.cs
  src/Kiota.Builder/Plugins/PluginsGenerationService.cs
  tests/Kiota.Builder.Tests/ContentTypeMappingTests.cs
  tests/Kiota.Builder.Tests/Extensions/OpenApiDeprecationExtensionExtensionsTests.cs
  tests/Kiota.Builder.Tests/Extensions/OpenApiOperationExtensionsTests.cs
  tests/Kiota.Builder.Tests/Extensions/OpenApiUrlTreeNodeExtensionsTests.cs
  tests/Kiota.Builder.Tests/KiotaBuilderTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

docs: adds changelog entry for OAI 3.2.0 support
  CHANGELOG.md
Due: none

chore: upgrades api manifest and declarative agent plugins to align oai.net version
  src/Kiota.Builder/Kiota.Builder.csproj
  tests/Kiota.Builder.Tests/Plugins/PluginsGenerationServiceTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: use callback as defined
  src/Kiota.Builder/Configuration/LanguagesInformation.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

feat/oai upgrade (#7097)
  CHANGELOG.md
  src/Kiota.Builder/Configuration/LanguagesInformation.cs
  src/Kiota.Builder/Extensions/OpenApiOperationExtensions.cs
  src/Kiota.Builder/Kiota.Builder.csproj
  src/Kiota.Builder/LanguageInformation.cs
  src/Kiota.Builder/Plugins/PluginsGenerationService.cs
  tests/Kiota.Builder.Tests/ContentTypeMappingTests.cs
  tests/Kiota.Builder.Tests/Extensions/OpenApiDeprecationExtensionExtensionsTests.cs
  tests/Kiota.Builder.Tests/Extensions/OpenApiOperationExtensionsTests.cs
  tests/Kiota.Builder.Tests/Extensions/OpenApiUrlTreeNodeExtensionsTests.cs
  tests/Kiota.Builder.Tests/KiotaBuilderTests.cs
  tests/Kiota.Builder.Tests/Plugins/PluginsGenerationServiceTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

ci: adds a microsoft extensions group
  .github/dependabot.yml
Due: .azure-pipelines/docker.yml

ci: adds a microsoft extensions group (#7117)
  .github/dependabot.yml
Due: .azure-pipelines/docker.yml

chore: upgrades remaining extensions dependencies
  src/kiota/kiota.csproj
  tests/Kiota.Builder.IntegrationTests/Kiota.Builder.IntegrationTests.csproj
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

ci: fixes dependabot configuration
  .github/dependabot.yml
Due: .azure-pipelines/docker.yml

ci: fixes dependabot configuration (#7127)
  .github/dependabot.yml
Due: .azure-pipelines/docker.yml

Add support for enum indexers
  src/Kiota.Builder/KiotaBuilder.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Add tests
  tests/Kiota.Builder.Tests/KiotaBuilderTests.cs
Due: .azure-pipelines/docker.yml

Update changelog
  CHANGELOG.md
Due: none

fix: support for reserved keywords in Go method parameters
  src/Kiota.Builder/Refiners/GoRefiner.cs
  tests/Kiota.Builder.Tests/Refiners/GoLanguageRefinerTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Use FlattenSchemaIfRequired extension to check AllOf
  src/Kiota.Builder/KiotaBuilder.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Refactor switch statement
  src/Kiota.Builder/KiotaBuilder.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

fix: support for reserved keywords in Go method parameters (#7129)
  src/Kiota.Builder/Refiners/GoRefiner.cs
  tests/Kiota.Builder.Tests/Refiners/GoLanguageRefinerTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Remove unnecessary switch case
  src/Kiota.Builder/KiotaBuilder.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Check for AnyOf and OneOf, too
  src/Kiota.Builder/Extensions/OpenApiSchemaExtensions.cs
  src/Kiota.Builder/KiotaBuilder.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

feat: move API plugin manifest schema to v2.4 (#7166)
  specs/examples/githubsearch-apiplugin.json
  specs/examples/suno-with-extensions-apiplugin.json
  src/Kiota.Builder/Plugins/PluginsGenerationService.cs
  tests/Kiota.Builder.IntegrationTests/PluginDiscriminatorSample.json
  tests/Kiota.Builder.IntegrationTests/PluginModelWithSecurity.json
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

fix: Handle nullable types in OpenAPI schemas and add corresponding unit tests.
  src/Kiota.Builder/Extensions/OpenApiSchemaExtensions.cs
  tests/Kiota.Builder.Tests/Writers/CSharp/YamlToCSharpTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

fix: nullable enum support in OpenAPI schemas
  src/Kiota.Builder/Extensions/OpenApiSchemaExtensions.cs
  tests/Kiota.Builder.Tests/Writers/CSharp/YamlToCSharpTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

fix: support integer-based enums for C#.
  src/Kiota.Builder/CodeDOM/CodeEnum.cs
  src/Kiota.Builder/KiotaBuilder.cs
  src/Kiota.Builder/Writers/CSharp/CodeMethodWriter.cs
  tests/Kiota.Builder.Tests/Writers/CSharp/YamlToCSharpTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: upgrades missing ms extensions dependencies
  src/kiota/kiota.csproj
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Squashed commit of the following:
  src/Kiota.Builder/Refiners/CSharpRefiner.cs
  src/Kiota.Builder/Refiners/CommonLanguageRefiner.cs
  src/Kiota.Builder/Refiners/DartRefiner.cs
  src/Kiota.Builder/Refiners/GoRefiner.cs
  src/Kiota.Builder/Refiners/JavaRefiner.cs
  src/Kiota.Builder/Refiners/PhpRefiner.cs
  src/Kiota.Builder/Refiners/PythonRefiner.cs
  src/Kiota.Builder/Refiners/RubyRefiner.cs
  src/Kiota.Builder/Refiners/TypeScriptRefiner.cs
  src/Kiota.Builder/Writers/CSharp/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Dart/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Go/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Java/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Php/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Python/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Ruby/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/TypeScript/CodeConstantWriter.cs
  src/Kiota.Builder/Writers/TypeScript/CodeFunctionWriter.cs
  tests/Kiota.Builder.IntegrationTests/GenerateSample.cs
  tests/Kiota.Builder.Tests/Refiners/DartLanguageRefinerTests.cs
  tests/Kiota.Builder.Tests/Refiners/GoLanguageRefinerTests.cs
  tests/Kiota.Builder.Tests/Refiners/JavaLanguageRefinerTests.cs
  tests/Kiota.Builder.Tests/Refiners/PhpLanguageRefinerTests.cs
  tests/Kiota.Builder.Tests/Refiners/PythonLanguageRefinerTests.cs
  tests/Kiota.Builder.Tests/Refiners/TypeScriptLanguageRefinerTests.cs
  tests/Kiota.Builder.Tests/Writers/Dart/CodeMethodWriterTests.cs
  tests/Kiota.Builder.Tests/Writers/Go/CodeMethodWriterTests.cs
  tests/Kiota.Builder.Tests/Writers/Java/CodeMethodWriterTests.cs
  tests/Kiota.Builder.Tests/Writers/Php/CodeMethodWriterTests.cs
  tests/Kiota.Builder.Tests/Writers/Python/CodeMethodWriterTests.cs
  tests/Kiota.Builder.Tests/Writers/TypeScript/CodeConstantWriterTests.cs
  tests/Kiota.Builder.Tests/Writers/TypeScript/CodeFunctionWriterTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Cleanup, sanitize input
  .claude/settings.local.json
  src/Kiota.Builder/CodeDOM/CodeMethod.cs
  src/Kiota.Builder/Refiners/DartRefiner.cs
  src/Kiota.Builder/Writers/CSharp/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Dart/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Go/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Java/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Php/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Python/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Ruby/CodeMethodWriter.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

AddMethod already sets Parent
  src/Kiota.Builder/Refiners/DartRefiner.cs
  src/Kiota.Builder/Refiners/JavaRefiner.cs
  src/Kiota.Builder/Refiners/PythonRefiner.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

cleanup, deduplicate CreateConstructor
  .claude/settings.local.json
  src/Kiota.Builder/Refiners/DartRefiner.cs
  src/Kiota.Builder/Refiners/JavaRefiner.cs
  src/Kiota.Builder/Refiners/PythonRefiner.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

fix: Replace rmdirSync with rmSync due to API changes
  vscode/packages/npm-package/install.ts
Due: .azure-pipelines/docker.yml
