Repository microsoft/kiota: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

.azure-pipelines/ci-build.yml:
  schedules:
  - cron: 0 18 * * 4
    displayName: Weekly build
    branches:
      include:
      - main
    always: true
  stages:
  - stage: BuildImage
    displayName: Build Docker Image
  ...

.azure-pipelines/docker.yml:
  name: $(BuildDefinitionName)-$(Date:yyyyMMdd)
  schedules:
  - cron: 0 18 * * 4
    displayName: Weekly preview
    branches:
      include:
      - main
    always: true
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      sdl:
        sourceAnalysisPool:
  ...

fix test
  tests/Kiota.Builder.Tests/OpenApiDocumentDownloadServiceTests.cs
Due: .azure-pipelines/docker.yml

Generated RequestBuilderGetQueryParameters class in C# does not include the default value
  src/Kiota.Builder/KiotaBuilder.cs
  src/Kiota.Builder/Writers/CSharp/CodePropertyWriter.cs
  tests/Kiota.Builder.Tests/Writers/CSharp/CodePropertyWriterTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Generated RequestBuilderGetQueryParameters class in C# does not include the default value
  CHANGELOG.md
Due: none

Generated RequestBuilderGetQueryParameters class in C# does not include the default value
  src/Kiota.Builder/KiotaBuilder.cs
  src/Kiota.Builder/Writers/CSharp/CodePropertyWriter.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

test mutliple overlays
  src/Kiota.Builder/Kiota.Builder.csproj
  tests/Kiota.Builder.Tests/OpenApiDocumentDownloadServiceTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Generated RequestBuilderGetQueryParameters class in C# does not include the default value
  src/Kiota.Builder/Writers/Java/CodePropertyWriter.cs
  src/Kiota.Builder/Writers/Php/CodePropertyWriter.cs
  src/Kiota.Builder/Writers/Python/CodePropertyWriter.cs
  tests/Kiota.Builder.Tests/Writers/Java/CodePropertyWriterTests.cs
  tests/Kiota.Builder.Tests/Writers/Php/CodePropertyWriterTests.cs
  tests/Kiota.Builder.Tests/Writers/Python/CodePropertyWriterTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: bumps required vscode version
  vscode/packages/microsoft-kiota/package.json
Due: .azure-pipelines/docker.yml

fix capitalization error
  tests/Kiota.Builder.Tests/Extensions/StringExtensionsTests.cs
Due: .azure-pipelines/docker.yml

Apply suggestion from @baywet
  global.json
Due: .azure-pipelines/docker.yml

override Message getter to include ResponseStatusCode
  src/Kiota.Builder/Writers/CSharp/CodePropertyWriter.cs
  tests/Kiota.Builder.Tests/Writers/CSharp/CodePropertyWriterTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Pass the description along with the response code
  src/Kiota.Builder/CodeDOM/CodeMethod.cs
  src/Kiota.Builder/KiotaBuilder.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Give an error class a constructor that takes a message
  src/Kiota.Builder/Refiners/CSharpRefiner.cs
  tests/Kiota.Builder.Tests/Refiners/CSharpLanguageRefinerTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Have the error mapping include the descriptions
  src/Kiota.Builder/Writers/CSharp/CodeMethodWriter.cs
  tests/Kiota.Builder.Tests/Writers/CSharp/CodeMethodWriterTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

cleanup / deduplicate
  src/Kiota.Builder/Refiners/CSharpRefiner.cs
  src/Kiota.Builder/Refiners/CommonLanguageRefiner.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

ci: enables merge groups
  .github/workflows/build-vscode-extension.yml
  .github/workflows/check-translations.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/codeql-required-workaround.yml
  .github/workflows/dotnet-required-workaround.yml
  .github/workflows/dotnet.yml
  .github/workflows/idempotency-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/sonarcloud.yml
Due: .azure-pipelines/docker.yml

chore: reverts copilot hallucinations
  src/Kiota.Builder/LanguageInformation.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Don't add without parameters and add parameters later, as it will overwrite any previous constructor.
  src/Kiota.Builder/Refiners/CSharpRefiner.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

THough all error definitions inherit from ApiException, the inherits flag is false
  src/Kiota.Builder/Writers/CSharp/CodeMethodWriter.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Implement similar languages
  .claude/settings.local.json
  src/Kiota.Builder/Writers/Go/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Java/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Php/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Python/CodePropertyWriter.cs
  tests/Kiota.Builder.Tests/Writers/Go/CodeMethodWriterTests.cs
  tests/Kiota.Builder.Tests/Writers/Java/CodeMethodWriterTests.cs
  tests/Kiota.Builder.Tests/Writers/Php/CodeMethodWriterTests.cs
  tests/Kiota.Builder.Tests/Writers/Python/CodePropertyWriterTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Add Dart
  src/Kiota.Builder/Writers/Dart/CodePropertyWriter.cs
  tests/Kiota.Builder.Tests/Writers/Dart/CodePropertyWriterTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Add Typescript
  src/Kiota.Builder/Writers/TypeScript/CodeFunctionWriter.cs
  tests/Kiota.Builder.Tests/Writers/TypeScript/CodeFunctionWriterTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

docs: update 404 image links
  vscode/packages/microsoft-kiota/README.md
Due: .azure-pipelines/docker.yml

Partially apply suggestions from code review
  src/Kiota.Builder/CodeDOM/CodeMethod.cs
  src/Kiota.Builder/Refiners/CSharpRefiner.cs
  src/Kiota.Builder/Refiners/CommonLanguageRefiner.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Prefer enums over magic strings
  src/Kiota.Builder/CodeDOM/CodeMethod.cs
  src/Kiota.Builder/CodeDOM/CodeParameter.cs
  src/Kiota.Builder/Refiners/CSharpRefiner.cs
  src/Kiota.Builder/Writers/CSharp/CodeMethodWriter.cs
  tests/Kiota.Builder.Tests/Refiners/CSharpLanguageRefinerTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Simplify, address more review comments
  src/Kiota.Builder/CodeDOM/CodeMethod.cs
  src/Kiota.Builder/Refiners/CSharpRefiner.cs
  src/Kiota.Builder/Writers/CSharp/CodeMethodWriter.cs
  tests/Kiota.Builder.Tests/Refiners/CSharpLanguageRefinerTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Don't include the template status code
  src/Kiota.Builder/Refiners/CSharpRefiner.cs
  src/Kiota.Builder/Writers/CSharp/CodeMethodWriter.cs
  tests/Kiota.Builder.Tests/Refiners/CSharpLanguageRefinerTests.cs
  tests/Kiota.Builder.Tests/Writers/CSharp/CodeMethodWriterTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Implement similar languages
  src/Kiota.Builder/Writers/Go/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Java/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Php/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Python/CodePropertyWriter.cs
  tests/Kiota.Builder.Tests/Writers/Go/CodeMethodWriterTests.cs
  tests/Kiota.Builder.Tests/Writers/Java/CodeMethodWriterTests.cs
  tests/Kiota.Builder.Tests/Writers/Php/CodeMethodWriterTests.cs
  tests/Kiota.Builder.Tests/Writers/Python/CodePropertyWriterTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Unconditionally generate C# classes with nullable reference types
  src/Kiota.Builder/Writers/CSharp/CSharpConventionService.cs
  src/Kiota.Builder/Writers/CSharp/CodeClassDeclarationWriter.cs
  src/Kiota.Builder/Writers/CSharp/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/CSharp/CodePropertyWriter.cs
  tests/Kiota.Builder.Tests/Writers/CSharp/CodeMethodWriterTests.cs
  tests/Kiota.Builder.Tests/Writers/CSharp/CodePropertyWriterTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

feat: update genearted plugin version from 2.1 to 2.3
  specs/cli/plugin-add.md
  specs/cli/plugin-edit.md
  specs/examples/githubsearch-apiplugin.json
  specs/examples/suno-with-extensions-apiplugin.json
  src/Kiota.Builder/Plugins/PluginsGenerationService.cs
  tests/Kiota.Builder.IntegrationTests/PluginDiscriminatorSample.json
  tests/Kiota.Builder.IntegrationTests/PluginModelWithSecurity.json
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Revert "feat: update genearted plugin version from 2.1 to 2.3"
  specs/cli/plugin-add.md
  specs/cli/plugin-edit.md
  specs/examples/githubsearch-apiplugin.json
  specs/examples/suno-with-extensions-apiplugin.json
  src/Kiota.Builder/Plugins/PluginsGenerationService.cs
  tests/Kiota.Builder.IntegrationTests/PluginDiscriminatorSample.json
  tests/Kiota.Builder.IntegrationTests/PluginModelWithSecurity.json
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

Change npm ci to npm install in CI build
  .azure-pipelines/ci-build.yml
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

fix: clean up leading underscores in symbol names and add related tests
  src/Kiota.Builder/Extensions/StringExtensions.cs
  src/Kiota.Builder/Writers/TypeScript/CodeFunctionWriter.cs
  tests/Kiota.Builder.Tests/Extensions/StringExtensionsTests.cs
  tests/Kiota.Builder.Tests/Writers/TypeScript/CodeFunctionWriterTests.cs
Due: .azure-pipelines/ci-build.yml, .azure-pipelines/docker.yml

chore: remove code function writer tests
  tests/Kiota.Builder.Tests/Writers/TypeScript/CodeFunctionWriterTests.cs
Due: .azure-pipelines/docker.yml

chore: update changelog for plugin version change
  CHANGELOG.md
Due: none

Path conditions:
  .azure-pipelines/ci-build.yml: any of: src, .azure-pipelines
  .azure-pipelines/docker.yml: any file but: abstractions, authentication, serialization, http, **.md, .vscode, **.svg
